[2020-03-27 03:45] resouer opened #57 "Give TraitDefinition/WorkloadDefinition a short name?"
xref: https://github.com/oam-dev/spec/issues/331#issuecomment-604787669

I am thinking maybe we can give them a short name like "trait" and "workload"?

I feel my fingers are trembling after CRUD `traitdefinitions` and `workloaddefinitions` for several times, they are just too long and verbose to type in even with best keyboard.

/cc @negz

[2020-04-22 05:36] resouer opened #4 "Use label to replace workloadRef"
Since a Trait CR 1:1 maps to Workload CR, maybe we can consider using label/annotation to replace `trait.workloadRef`?

e.g.

[code]

The benefit is as Trait could also be brought by user, we don't want to require user modify CRD before using Crossplane.

(Optional) The link can also be `Component` if we agree on `Component` won't be shared in https://github.com/oam-dev/spec/issues/350.

/cc @negz

[2020-04-22 05:54] resouer commented on #4
(Optional) I am also thinking we can use labels to track the bi-directional links between dev facing objects (Component/Workload) with ops facing objects (Trait/Scope).

[2020-04-22 07:21] negz commented on #4
I think it's more common to use references to track one-to-one relationships than labels, which are typically used to track one-to-many relationships. It seems like the rationale here is more about not imposing requirements on the schema of a trait CR than because labels are inherently more appropriate for this case than references. Could you illustrate some cases in which we might want to use an

[2020-04-22 15:21] resouer commented on #4
@negz Yes, happy to illustrate.

In the wild, many Operators are "Workload + Trait" style by natural. For instance, backup capability of etcd-operator:

Workload:

[code]
Trait:

[code]
Similar patterns also exist in serverless solutions such as [knative configuration + route](https://knative.dev/docs/serving/spec/knative-api-specification-1.0/#route).

Also, with the community begin to focus on a

[2020-04-22 15:32] resouer commented on #4
Btw, since we still need to add GVK + name in labels, it's seems no implication for "one-to-many" relationship.

[2020-04-25 17:47] hongchaodeng opened #11 "[proposal] Component and Trait Dependency"
# Background

This is an extension from https://github.com/oam-dev/spec/pull/326. Create the issue here to acquire more interest. We also have an implementation in our fork so we would like to merge them together.

Let me start with three use cases here.

## 1. Web app depends on database

An applicationConfiguration consists of two components: web and db. Web component should not be created until

[2020-04-25 17:48] hongchaodeng commented on #11
cc @vturecek @negz @artursouza @resouer @wonderflow @ryanzhang-oss

[2020-04-26 10:21] wonderflow commented on #4
We can't enforce existing CRD/Operators to add workloadRef in their spec, however some of them could be very good OAM traits. Using label could add them into OAM system without any change.

What's more, I suggest to use some unique id to be label, for example: `uid: 5da53b29-49ae-4466-83ea-b0c34405ee58`. Then their match can be very easy and no need to use GVK+name.

[2020-04-26 11:50] wonderflow commented on #11
Totally agree!  Component and Trait Dependency are really important and needed! Let me add one more scenario.

# Scenario : workload which can run without everything is ready

Let's say we have a containerized workload and log collector trait.
If we don't have trait order, the workload could run smoothly and can't feel that log collector isn't ready. Then we may miss some audit logs. If these audi

[2020-04-26 18:43] allenhaozi opened #13 "ContainerizedWorkload Add SubWorkloadType"
#### current struct:
[code]
#### add a new field *`WorkloadSubType`*
[code]
#### background
+ In most cases, we hope to reuse kubernetes native ability,deployment,statefulset,job,cronjob,daemonset, so far these controllers covers all of our requirements
+ trait and workload are independent controllers,  trait can update its associated workload, but it's hard to go from deployment to statefulset
+

[2020-04-26 19:01] allenhaozi commented on #11
We are building new machine learning scenarios internally, We call it [Hypercycle ML](http://www.4paradigm.com/product/hypercycleml)
a completed hypercycle  requires multiple services composed and these services is ordered
this  dependency can help us build a lighter infrastructure and low coupling platform

[2020-04-26 19:12] ryanzhang-oss commented on #13
Thanks for the issue. I think this fits very well in our current discussion on how to create a general framework to allow traits to work with workloads.  Here are my general thoughts

1. The framework has to be extensible. This means that OAM platform builders don't have to declare every workload that a trait may apply to in the trait object. We need to find a way to allow a trait to apply to any

[2020-04-27 12:46] hasheddan commented on #4
@resouer @wonderflow I like the idea of being able to bring arbitrary CRD types to the OAM model and allow them to serve as traits. Labels seem like a nice way to do this as they will be available to set on any type. However, I want to make sure we consider all alternatives here. The first that would come to mind would be implementing a separate type for binding traits to workloads (similar to [tr

[2020-04-27 17:32] hongchaodeng commented on #4
Here is a list of options:

1. WorkloadRef in Trait CR.
2. Labels to ref workload CR in Trait CR.
3. have  a separate CR to correlate Trait CR and Workload CR.

If the only requirement is not to add any field into existing Trait CR, both 2 and 3 should work.

[2020-04-27 20:45] ryanzhang-oss opened #14 "Honor the AppliesTo field in the trait"
The current AC controller implementation doesn't look up to a trait's TraitDefinition CR when it applies a trait to a workload. We need to throw an error if the workload is not part of the 'appliesTo' field.

[2020-04-27 21:43] ryanzhang-oss opened #59 "[Design Proposal] Add a generic mechanism for traits to work with workloads in OAM runtime"
### Problem
Traits and workloads are two major types of resources in OAM.  Traits usually affect how a workload operate either directly (through spec change) or indirectly (add ingress or sidecar). However, the current OAM implementation does not contain a generic mechanism for traits to locate and apply the desired changes to the resources. Therefore, we propose to address this problem in the OAM

[2020-04-28 00:49] ryanzhang-oss opened #15 "Add status to the scope type"

[2020-04-28 03:15] draveness opened #16 "Get Started Part in the README is broken?"
When I apply all the crds with the following commands follow the instruction in the README:

[code]

[code]

[2020-04-28 03:16] ryanzhang-oss commented on #16
What is your k8s version?

Sent from my T-Mobile 4G LTE Device

________________________________
From: Draven <notifications@github.com>
Sent: Monday, April 27, 2020 8:15:22 PM
To: crossplane/oam-kubernetes-runtime <oam-kubernetes-runtime@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [crossplane/oam-kubernetes-runtime] Get Started Part in the README is broken? (#16)

[2020-04-28 03:17] draveness commented on #16
Do I need to update the server to 1.15+?

[2020-04-28 03:17] draveness commented on #16
Thanks for the reply, I just added the kubectl version output.

[2020-04-28 05:10] wonderflow commented on #13
I think what @allenhaozi needs is a way that can distinguish different K8s native workloads from containerized workload.

Now containerizedWorkload is translated to K8s Deployment by default, but in fact, K8s Job, Statefulset and some other native workloads are all containerized. We don't have such mechanism to let user choose.

[2020-04-28 05:17] wonderflow commented on #13
I suggest to use a new workload to fit other K8s resource ,for example , use Job Workload to represent K8s Job:

[code]

[2020-04-28 05:44] wonderflow commented on #13
What @allenhaozi  suggests in this issue is also a way that let core workload(containerized workload) to cover more scenarios. This is also one of advantages in OAM v1alpha1, that we define 6 core workload types (Server/Task/Worker and their singletons).

In v1alpha2, we enable more extendibility but can't ignore the standard parts.

Another option is to add batch/v1.Job and some of other native w

[2020-04-28 06:14] ryanzhang-oss commented on #16
I think so, 1.15+

Sent from my T-Mobile 4G LTE Device
________________________________
From: Draven <notifications@github.com>
Sent: Monday, April 27, 2020 8:17:18 PM
To: crossplane/oam-kubernetes-runtime <oam-kubernetes-runtime@noreply.github.com>
Cc: Ryan Zhang <yangzhangrice@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [crossplane/oam-kubernetes-runtime] Get Started Part in

[2020-04-29 00:19] #15 closed

[2020-04-29 01:51] allenhaozi commented on #13
Yes, this is what I want to express, looking forward to a powerful OAM core workload

[2020-04-30 21:27] ryanzhang-oss commented on #4
https://github.com/crossplane/crossplane/pull/1454

[2020-04-30 23:01] ryanzhang-oss commented on #16
yes,  I would recommend 1.17

[2020-04-30 23:38] ryanzhang-oss commented on #13
@allenhaozi  Thank you for raising the issue.

Here is our current thinking

1. We should add more types of core/standard workloads. The general rule of thumb is that if two workloads require very different specs (ie. Job vs deployment) then they are probably two different types of workloads
2. To address the problem of the lack of Server/Worker/Singletons in v1alpha2 spec vs. v1alpha1. We propose

[2020-05-01 02:25] draveness commented on #16
Thanks but all of our clusters are using 1.14 and won’t update till the end of this year?

[2020-05-01 02:28] resouer opened #62 "Implement ApplicationScope in Crossplane"
### What problem are you facing?
We didn't find concrete use case for [Scope](https://github.com/oam-dev/spec/blob/master/5.application_scopes.md)  concept on K8s before so we decide to skip it temporarily in Crossplane. Though we now found Scope is actually a strong need for traffic mgmt in app. For example the [Istio BookInfo sample](https://github.com/istio/istio/tree/master/samples/bookinfo) s

[2020-05-01 05:06] resouer commented on #16
@draveness `x-kubernetes-embedded-resource` is essential for defining embedded objects in Kubernetes. It's KEP is: https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190425-structural-openapi.md, and implementation PRs are: https://github.com/kubernetes/kubernetes/pull/77207, https://github.com/kubernetes/kubernetes/pull/78788

Not sure if you can cherry pick them into

[2020-05-01 05:17] draveness commented on #16
I think I'll build the abstractions first before cherry pick these commits into our cluster since it would be problematic to do this in the production cluster. And I use the following command as a workaround to install the charts, and currently it could be the trick...

[code]

BTW: We upgrade the cluster once a year by 4 releases.

[2020-05-01 05:58] resouer commented on #16
I was shocked for 2 second to know this ...

[2020-05-01 06:12] draveness commented on #16
+1 🤣

[2020-05-01 06:12] draveness commented on #16
/close

Since we have a workaround for this before 1.15.

[2020-05-01 06:12] #16 closed

[2020-05-04 10:07] wonderflow commented on #13
@allenhaozi Can this conclusion solve your issue? By the way, which kind of policy way do you prefer?

[2020-05-06 04:28] allenhaozi commented on #13
Yes, policy can cover my case,
Internally, I implemented two workloads, `ServerWorkload` and `TaskWorkload`
[code]
[code]
ServerWorkload for online, TaskWorkload for offline
I am validating these two workloads

[2020-05-08 06:52] draveness opened #18 "Namespace scope support"
Are we going to add a scope to change the namespace of a kubernetes object?

https://github.com/crossplane/oam-kubernetes-runtime/blob/6b9e040ab7ec1f68b6df4476fad1e18606c9ecb1/pkg/workload/containerized/containerized.go#L62-L65

[2020-05-08 09:47] wonderflow commented on #18
What @hasheddan means is not changing the namespace of an existing kubernetes object. I think he means before a k8s object being create, the controller could use namespace scope to know which namespace the k8s object will go.

[2020-05-08 09:51] draveness commented on #18
Does it mean that the controller doesn't know the namespace of an kubernetes object, why not read the metadata field of an object?

[2020-05-08 09:54] wonderflow commented on #18
This issue occurs in multi-cluster cases, one Application deployed in a master cluster will need some child parts which need to be deployed in remote clusters. The object in remote cluster need to know their namespace.

[2020-05-08 09:56] draveness commented on #18
SGTM, thanks for the clarification.

[2020-05-08 09:56] #18 closed

[2020-05-12 07:48] wonderflow commented on #14
I think this need to be done on admission webhook. Do we have a existing webhook project for crossplane? @negz

[2020-05-13 01:11] artursouza opened #58 "Support OAM's HealthScope"
### What problem are you facing?
OAM's HealthScope is not supported in Crossplane.

### How could Crossplane help solve your problem?
Support HealthScope, similar to Rudr:

https://github.com/oam-dev/rudr/tree/master/healthscope

Parent: crossplane/crossplane#1480

[2020-05-18 11:41] pigletfly opened #22 "Workload type choice support"
why we are using Deployment? Can we use other kinds of kubernetes workload type? such as StatefulSet.

[2020-05-18 18:10] ryanzhang-oss commented on #22
IIRC, this is a similar request to https://github.com/crossplane/oam-kubernetes-runtime/issues/13. I wonder if our responses, especially https://github.com/crossplane/oam-kubernetes-runtime/issues/13#issuecomment-622176013, answer your question?

[2020-05-18 18:10] ryanzhang-oss commented on #22
You are more than welcome to propose a StatefulSet workload type.

[2020-05-19 18:20] hongchaodeng opened #25 "discussion: experimental APIGroup for adding runtime traits"
This has been raised up in the community meeting when we discussed https://github.com/crossplane/oam-kubernetes-runtime/pull/24.

Since spec is relatively stable, we want to validate ideas before making changes to spec. Usually we model some runtime functionalities as traits at first stage and then gradually move them into the spec. As a common practice, we need to agree on a standard experimental

[2020-05-19 18:21] hongchaodeng commented on #25
cc @negz @hasheddan @artursouza @vturecek @ryanzhang-oss @resouer @wonderflow

[2020-05-19 18:31] resouer commented on #25
Thanks! `experimental.core.oam.dev/v1alpha2` LGTM

[2020-05-20 05:50] resouer opened #26 "Traits candidate list to complete the picture"
Listed by priority from high to low:

1. Ingress
2. Autoscaler
3. Rollout (Flagger based)

Feel free to propose more.

[2020-05-20 05:55] wonderflow commented on #25
LGTM

[2020-05-21 00:06] allenhaozi opened #27 "ManualScalerTrait support update resource"
Is it appropriate if ManualScalerTrait can update the container resource ?
[code]

1. scaling itself is related to resources
2. In some cases, the user want more replicas, but the resource of the instance can be lowered
3. only when the user passes in a valid value will we update the corresponding value
4. It's easier to maintain one than two

[2020-05-22 22:46] ryanzhang-oss commented on #26
For ingress, can we start with [simple ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/#single-service-ingress)?
Or we want to bring a more powerful one like Istio?

[2020-05-22 22:56] ryanzhang-oss commented on #27
Thanks, @allenhaozi.
Can you elaborate on what does "support update resource" mean?
I am not sure if we have a ResourceRequest type already?   Can you spell out its semantics a bit more?
The same applies to the ResourceLimit.

[2020-05-22 23:13] ryanzhang-oss opened #30 "Allow traits to identify its side effect which allows OAM runtime to optimize"
The trait system is an important part of OAM. The OAM community has given us feedbacks and one common concern is that applying a Trait may cause the containers in the workload to restart. This is not a desired behavior in many production environments.

We propose to add a trait's side effect to our `traitDefinition`.  This allows our OAM platform to optimize our trait behavior so that we can minim

[2020-05-22 23:19] resouer commented on #26
@ryanzhang-oss A simple ingress, though we should define the definition better than demo.

Here's a super list of ingress controllers: https://docs.google.com/spreadsheets/d/1xjff2AMS6QXSdh8E8ay_uNMoUa2OLIanCallvkDvAy0/edit#gid=0

Isito is for more complex cases like traffic mgmt etc.

[2020-05-23 00:39] wonderflow commented on #26
* Service Trait （K8s Service）
* Container Resource Quota Trait （fields of pod template）
* VolumeMount Trait (pv/pvc)
* Monitoring Trait  (Prometheus)
* Log Trait （ELK）

[2020-05-23 07:49] henrywangx opened #31 "Could we have a trait group's definition or multiple definitionRef"
Since for some powerful trait like istio trait,  it has the `VirtualService`, `DefinitionRule`, `SideCar` CR. For each CR, we may create a trait.

But they have relationship with each other, need to configure them all together make traffic works. In that case, we need to group them or allow multiple definitionRef of one trait.

[2020-05-23 18:26] resouer commented on #31
Yes!

The `XXXDefinition` currently is designed as a mapping project to track upper level object to lower level object. For example, `ContainerizedWorkload` -> `Deployment`, or `RolloutTrait` -> `FlaggerRolloutTrait`.

So in your case, you need to "compose" multiple Istio CRDs into a new CRD and then reference that CRD in `TraitDefintion`.

What's more fantastic is if you are using Crossplane, it

[2020-05-24 13:55] allenhaozi commented on #27
the definition of resource is here: [https://github.com/crossplane/oam-kubernetes-runtime/blob/master/apis/core/v1alpha2/core_workload_types.go#L144](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/apis/core/v1alpha2/core_workload_types.go#L144)

[2020-05-28 05:45] ryanzhang-oss opened #32 "Improve how ApplicationConfig controller fill in the spec.workloadRef"
ApplicationConfig controller should only fills the workload GVK to a `trait` CR if its CRD has a "spec.workloadRef" field conforms to the OAM definition like below
[code]

Currently,  ApplicationConfig just blindly adds a key-value pair to a `trait` as an unstructured object. This approach doesn't hurt when the CRD of the trait doesn't have the spec.workloadRef field. However, it will result in re

[2020-05-29 21:15] ryanzhang-oss commented on #22
close this as it's a duplicate of  #13

[2020-05-29 21:15] #22 closed

[2020-05-29 21:17] ryanzhang-oss commented on #13
Policy design  https://github.com/crossplane/oam-kubernetes-runtime/pull/33

[2020-05-29 22:37] ryanzhang-oss commented on #13
I think we don't really need `ServerWorkload`, the policy #33 design has an example of how to create an workload that is internet accessible. We will also introduce a `ServiceTrait` which will create a `Service` that applies to a certain `workload`.

As for `TaskWorkload`,  it seems that it's mostly a copy of K8s `Job` object. We actually does support user bring in native K8s resources directly to

[2020-06-01 12:01] wonderflow opened #34 "Can not create appconfig when "instance-name" parameter removed"
Now the oam-k8s-runtime need to specify instance-name parameter and pass it to workload CR.

[code]

If not give `instance-name` as parameter, the workload CR will fail to create.

[code]

I think we can have a default name.

[2020-06-01 18:22] resouer commented on #34
Yes, a generated name is very reasonable.

Note that the name is related to revisions design in https://github.com/crossplane/oam-kubernetes-runtime/pull/29. We can tackle this at the same time during its implementation if not rush.

[2020-06-05 02:00] wonderflow opened #36 "Trait name should be automatically generated if empty"
![image](https://user-images.githubusercontent.com/2173670/83828484-5aee3800-a713-11ea-9dff-f5234e77001a.png)

I know specify a name can allow traits exist more than once for a component. And I also see some cases (e.g. Volume trait. Service trait) that may need more than once. But trait is designed as attribute of component, an attribute should exist only once.

Before we have a way to match both

[2020-06-08 03:37] wonderflow opened #38 "We need to write a guide about how to write a trait"
Including:
1. Workload and trait interact mechanism.
2. Decomposition operational properties from existing workload  to be trait.
3. How trait CR will run by oam-k8s-runtime.
...

[2020-06-08 09:56] wonderflow commented on #36
also open an issue in OAM spec to discuss this https://github.com/oam-dev/spec/issues/367

[2020-06-09 03:34] FingerLiu opened #39 "[proposal]Generic Trait Interface"
I saw the core types, like ManualScalerTrait, it is too specific, and we can not reuse things from it, and we can not ensure user written traits works like we assume.
So I think it would be great if we can define a Generic Trait Interface, which define basic attribute and method, such as `WorkloadRed`, `Apply`.
Would this be possible?

[2020-06-09 03:52] ryanzhang-oss commented on #39
I wonder if you can explain a bit on why do you think a ManualScalerTrait is "too specific"? What exactly does a `WorkloadRed` or a `Apply` trait should do?

[2020-06-09 08:36] FingerLiu commented on #39
我表达的可能不太清楚，比如我想实现一个自己的 Trait，我在实现这个 Trait 的时候，应该怎么实现呢

我期望的可能是有一个 TraitInterface , 里面告诉了我实现了哪些方法，就可以实现自己的 Trait 和自己的 Trait controller，且可以配给 component 使用。

还是说我的打开方式不对？

[2020-06-09 08:51] wonderflow commented on #39
I think we need to know more about your use case instead of telling how to write a generic trait.

@FingerLiu  I send you an email, we can contact offline.

[2020-06-10 03:19] wonderflow commented on #39
I discussed with @FingerLiu and explained [the workload and trait mechanism](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/one-pager-trait-workload-interaction-mechanism.md).  This issue seems to be more important now https://github.com/crossplane/oam-kubernetes-runtime/issues/38

[2020-06-10 04:07] resouer commented on #39
I think  the Trait lib we discussed before is what's needed here.

[2020-06-10 06:44] #36 closed

[2020-06-10 09:13] zzxwill opened #40 ""spec.workloadRef" should not be added to all traits"
If trying to apply Knative `routes` to workload `configuration`, I hit the issue.
[code]
"spec.workloadRef" can be patched to `manualscalertraits`, but it might now be applicable to other traits.

[2020-06-10 11:04] wonderflow commented on #40
@zzxwill will help fix it, thanks

[2020-06-10 11:05] wonderflow commented on #40
seems duplicated with #32

[2020-06-11 00:20] ryanzhang-oss commented on #4
close this as we have decided to use field

[2020-06-11 00:20] #4 closed

[2020-06-11 02:35] zzxwill commented on #40
@ryanzhang-oss Here are the steps to reproduce the issue.
# Prerequisites
Install [Knative](https://knative.dev/v0.14-docs/install/any-kubernetes-cluster/) and OAM runtime.
# Deploy Knative routes by ApplicationConfiguration.
## Step 1: deploy Knative Configuration workload with Component
[code]
## Step 2: Apply ApplicationConfiguration
[code]

## Step 3: Deploy Knative routes with Applicationconf

[2020-06-11 05:45] ryanzhang-oss commented on #40
Good catch, the Knative actually has an admission controller. It is normally fine to add a field not in the CRD but it's a different story when there is a strict admission controller

[2020-06-11 05:45] ryanzhang-oss commented on #32
https://github.com/crossplane/oam-kubernetes-runtime/issues/40
Another case is when the resource has a strict admission controller

[2020-06-11 05:57] zzxwill commented on #40
@ryanzhang-oss For the rbac manifest.
[code]

[2020-06-11 21:29] #40 closed

[2020-06-11 21:31] ryanzhang-oss commented on #32
In light of the possibility of an admission controller, I think the safest way is to mark traits that need to get workloadRef in their traitDefinition.

[2020-06-11 21:34] ryanzhang-oss commented on #40
Duplicate of https://github.com/crossplane/oam-kubernetes-runtime/issues/32

[2020-06-12 03:16] #39 closed

[2020-06-12 05:59] Chwetion opened #43 "Requirement of component template used to create component at any namespace or cluster"
### Background
We need to have a common component template like helm charts to publish of common components across namespaces and even across clusters.
So far, the solution I can think of is to publish component resources in the form of helm charts.

### Question
Does the community have any plans or suggestions for save component template?

[2020-06-12 06:44] wonderflow commented on #43
Yeah, I think just use helm charts to store is enough.

[2020-06-13 06:22] artursouza opened #61 "HealthScope"
# Context

Parent Issue: crossplane/crossplane#1480

[HealthScope](https://github.com/oam-dev/spec/blob/master/standard/scopes/health_scope.md) aggregates the health status of multiple components via a web API.

In Rudr, it was implemented as described here: https://github.com/oam-dev/rudr/tree/master/healthscope

# Proposal

Re-implement Rudr's approach but for the new v1alpha2 spec.

1. Deploy O

[2020-06-17 15:22] zzxwill opened #47 "Knative validation.webhook.serving.knative.dev denied requests for unknown fields from Component"
Follow similar steps as issue #40
# Prerequisites
Install [Knative](https://knative.dev/v0.14-docs/install/any-kubernetes-cluster/) and OAM runtime.

# Deploy Knative Configuration by ApplicationConfiguration.
## Step 1: deploy Knative Configuration workload with Component
[code]
## Step 2: Apply ApplicationConfiguration
[code]

If trying to deploy Configuration workload, it will hit a similar iss

[2020-06-17 16:34] zzxwill commented on #47
I think I also need to post this feature request to Knative community : )

[2020-06-18 09:09] zzxwill commented on #47
As Knative Configuration needs container port name to `be one of "http1" or "h2c" (if supported). Defaults to "http1".`, so the first example should be ignored.
https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md#containerport

[2020-06-18 10:57] wonderflow commented on #47
I don't think this is an issue. As we use Knative workload here, we should follow roles of what knative has.

[2020-06-19 16:47] zzxwill commented on #47
@wonderflow You are right. But for `spec.parameters`, it will be the problem.

[2020-06-21 04:52] ryanzhang-oss commented on #47
I don't know what the KNative webhook logic has anything to do with an OAM component's spec.parameter?

[2020-06-21 05:54] wonderflow commented on #47
Neither do I.

And I don't think we need to use parameter in Knative demo. We should avoid use parameter as it will confuse with [component versioning mechanism](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/one-pager-component-mutable-and-versioning.md#impact-to-the-existing-system).

[2020-06-23 16:18] zzxwill commented on #47
As `parameter` is deprecated, this won't block Knative webhook from blocking the request. Close the issue.

[2020-06-23 16:18] #47 closed

[2020-06-24 06:15] #34 closed

[2020-06-25 18:47] resouer opened #50 "AppliesTo should support API Group"
For example:

[code]

This means the trait route can be applied to any workloads under apps.k8s.io group.

/cc @ryanzhang-oss @wonderflow

[2020-06-29 22:01] resouer opened #55 "Tracker: reorganize OAM related code and repo"
Per discussion on previous community meeting and offline discussion in slack, we will merge OAM related code and repos into one and give it an independent release. It would be much easier to maintain after this re-org.

Tracking steps:

1. Merge https://github.com/crossplane/addon-oam-kubernetes-local into oam-kubernetes-runtime
2. Give oam-kubernetes-runtime a release (runnable controller with in

[2020-06-30 03:02] wonderflow opened #60 "Support Cron Trait"
We used to discuss it in Rudr https://github.com/oam-dev/rudr/issues/40
I think this is really a common trait which can be `core`/`standard` trait candidate.

This is an issue from https://github.com/crossplane/addon-oam-kubernetes-local/issues/13.

We'll continue discuss here.

[2020-07-01 05:29] wonderflow commented on #61
I think this issue is almost finished, we can close it, right? \cc @artursouza

[2020-07-01 05:31] wonderflow commented on #59
Closing as it already implemented https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/one-pager-trait-workload-interaction-mechanism.md

[2020-07-01 05:31] #59 closed

[2020-07-01 08:48] zzxwill opened #64 "Support list/slic type of user defined workloadRef path"
Workload will be applied to trait CR to its path `spec.workloadRef` in proposal [trait-workload-interaction-mechanism](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/one-pager-trait-workload-interaction-mechanism.md#proposal). If the path mechanism support user defined list/slic type `spec.gateways[0]` as below?
[code]
For more detailed info, please refer to https://github

[2020-07-01 23:06] ryanzhang-oss commented on #64
Can you put some details on this issue?  I am not sure if I follow.

[2020-07-01 23:18] ryanzhang-oss commented on #58
duplicate https://github.com/crossplane/oam-kubernetes-runtime/issues/61

[2020-07-01 23:18] #58 closed

[2020-07-01 23:19] ryanzhang-oss commented on #32
https://github.com/crossplane/oam-kubernetes-runtime/pull/56

[2020-07-01 23:19] #32 closed

[2020-07-01 23:22] ryanzhang-oss commented on #27
Close it, for now.  Feel free to open it when we have a clear use case.

[2020-07-01 23:22] #27 closed

[2020-07-02 00:16] ryanzhang-oss commented on #55
First step
https://github.com/crossplane/oam-kubernetes-runtime/pull/63

[2020-07-02 00:19] ryanzhang-oss opened #65 "Add README to flight-tracker example"
Some of the examples in the repo does not have README yet. For example,  examples/flight-tracker does not have one. It would be good to add it

[2020-07-02 00:22] ryanzhang-oss opened #66 "Make the default trait name not the same as the component name"
Currently, we use the component name as the trait name in the `setTraitProperties` function. It will be good for the name to indicate that it belongs to a `trait`

[2020-07-02 02:04] wonderflow commented on #64
The `bookinfo-gateway` in gateways slice is a workloadRef in this case @ryanzhang-oss

[2020-07-02 02:10] ryanzhang-oss opened #67 "remove all child resources when the OAM controllers exit"
Currently, all OAM applications are intact even after the appConfig controller exists.

[2020-07-02 02:13] ryanzhang-oss opened #68 "improve health scope implementation"
The health scope currently only works with containerizedWorkload.
- We should make it work with any workload
-  Add more unit test to bring the code coverage to at least 90%

[2020-07-02 02:15] ryanzhang-oss opened #69 "Do not assume that a scope has a workloadRef field"
AppConfig now hardcode the workloadRef field on a scope CR. We need to use the same mechanism as trait to know the workloads it is associated with.

[2020-07-02 02:16] wonderflow commented on #67
This is not a bug. In fact it's a MUST in K8s. Controller process can crash/exit, but K8s object won't affect.

[2020-07-02 02:21] ryanzhang-oss opened #70 "improve manualScaler trait"
- ManualScalar trait currently is not watching any resources as it is using duck typing. We need to set a proper resync time to make sure that it can correct any changes that happen to the underlying resources. For example, if the deployment is scaled beyond the ManualScalar's back. Another way to do it maybe is to dynamically watch resources until they are removed. For example, only start to watc

[2020-07-02 02:25] ryanzhang-oss opened #71 "improve containerizedWorkload controller"
- Revamp the way the containerizedWorkload controller do child resource garbage collection
- Add more unit test to bring up the test coverage

[2020-07-02 02:27] ryanzhang-oss opened #72 "Add more test coverage"
-  We need to add more unit test
-  We also need to have more E2E tests which makes sure that the code works on a Kubernetes cluster.

[2020-07-02 02:29] ryanzhang-oss opened #73 "We need an admission controller"
Currently, an applictionConfig controller does not do many validations. It is less user friendly for the controller to fail to reconcile than we reject any invalid OAM applications. An admission controller is exactly for that purpose.

[2020-07-02 08:48] wonderflow opened #75 "Add startup probe for containerized workload"
Now we have Liveness and Readiness Probes in OAM containerized workload, but that's not enough.

In k8s pod, they have one more called startup probe.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes

[2020-07-02 10:20] wonderflow opened #76 "Implement Category Scope which can mark annotation/label for workload"
# Background

In some cases workload will need to mark flags, for example to declare different environments, different tenants, different categories etc.

In OAM world, Application Scopes are very proper for doing so, we can use one scope to indicate some kind of environment. Then component which in this scope will be marked in this environment.

Before OAM exist, most of these demands are impleme

[2020-07-03 02:10] hongchaodeng commented on #76
Note: use objectSelector to filter workloads

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-objectselector

[2020-07-03 02:56] hongchaodeng commented on #76
Here is a summary of the latest solution discussed with @wonderflow

Assuming an AppConfig containing a Workload _W_ and a Scope _S_, where the W belongs to S.

1. When reconciling AppConfig, OAM Runtime will Apply W and S where W contains a label `scope.oam.dev` pointing to S identifier.
2. A webhook controller, configured with matching rules that check `scope.oam.dev` label exists, will intercep

[2020-07-03 03:59] zzxwill commented on #76
@hongchaodeng Nice, it's a simpler solution. Will the label of W look like below?
[code]

[2020-07-03 14:02] allenhaozi commented on #60
Internally we are discussing how to support Job, CronJob based on Workload and trait design,
The current conclusion is that we prefer to use workload support to pull up a Job or CronJob rather than a trait

The Spec :
[code]
cc @wonderflow

[2020-07-03 15:17] allenhaozi opened #77 "app-config pass labels and annotation to workload and trait"
Internally, there are scenarios where we need to get corresponding Annotation information in the Controller of the Workload and trait, so we can do some business processing based on the annotations, such as namespace isolation
Workload and trait only processing those workload and traits where the information in the Annotation meets the conditions

If app-config can pass this information, it's very

[2020-07-04 08:42] wonderflow commented on #77
I think it make sense to pass through labels and annotations from Appconfig into workload and traits.

[2020-07-04 08:44] wonderflow commented on #60
Cool, would you like to contribute these workload into our [catalog](https://github.com/oam-dev/catalog)?

[2020-07-05 04:14] Ghostbaby commented on #66
@ryanzhang-oss Please assign to me.

[2020-07-06 02:41] sunny0826 commented on #65
/accept

[2020-07-06 03:35] wonderflow commented on #77
I've discussed with @allenhaozi  and he's glad to send a PR. Thanks!

[2020-07-06 03:47] wonderflow opened #79 "change ingress yaml in flight-tracker example to ingress trait"
In our [flight-tracker example](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/examples/flight-tracker/), ingress is still installed as a standalone yaml file, it should be trait.

[2020-07-06 05:52] sunny0826 commented on #79
IngressTrait need [`IngressTrait controller`](https://github.com/oam-dev/catalog/tree/master/traits/ingresstrait), but it may not in `oam-kubernetes-runtime`

[2020-07-06 05:56] wonderflow commented on #79
@sunny0826  We can use Ingress directly without using `IngressTrait` CRD.

[2020-07-06 06:41] sunny0826 commented on #79
/accept

[2020-07-06 07:01] sunny0826 commented on #65
/merge

[2020-07-06 07:09] #65 closed

[2020-07-06 07:11] #79 closed

[2020-07-06 07:17] wonderflow opened #81 "replace gcr.io image to docker hub"
gcr.io is blocked in some area, so we'd better use images from docker hub instead.

https://github.com/crossplane/oam-kubernetes-runtime/blob/master/charts/oam-core-runtime/templates/oam-controller.yaml#L114

[2020-07-06 08:26] wonderflow opened #82 "Don't block if traitDefinition or workloadDefinition not exist"
Now oam-k8s-runtime will check traitDefinition(for revisionAware) andworkloadDefinition(for workloadRef), but if these definition file not exist, application deploy will fail. However, the trait or workload can work without these information, so we shouldn't require definition files MUST exist.

In fact, we can automatically generate a basic definition file for those workload/trait, or we can rega

[2020-07-06 08:50] wonderflow opened #83 "using strategy merge patch for update if trait/workload is K8s built-in resource"
K8s has [strategic merge patch](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#notes-on-the-strategic-merge-patch), this is useful for update. If OAM workload/trait is k8s built-in resource, for example(deloyment, ingress)，then we should use strategy merge patch.

[2020-07-06 08:59] CoderPoet commented on #83
Here is a scenario case

I described and published an application through oam, as follows

[code]

Then I directly modified some fields of VirtualService resources (fields not touched by OAM) through other channels

For example, add a CORS strategy on a platform that I have not yet migrated to OAM

[code]

At this time, oam runtime will ignore my changes and change to the state described in appcon

[2020-07-06 09:24] wonderflow commented on #83
This may not be a strong scenario.

[2020-07-06 09:43] CoderPoet opened #84 "When a Component Workload is deleted by mistake, the OAM Runtime is expected to automatically recreate the workload"
Currently, because the OAM Runtime only watches the component and Appconfig, it does not go to the Watch Workload CRD.

So workload changes are not notified to the OAM Runtime

This scenario might consider designing an elegant solution to the problem

[2020-07-06 11:09] wonderflow commented on #84
I think periodically check can be a quick fix for this issue.

[2020-07-06 14:46] CoderPoet commented on #84
Is it better to use another coroutine to do this global periodic check, or is it better to have the check logic built into the DAG dependency manager?

[2020-07-06 15:31] erdun commented on #83
Trait/workload are generate by oam server and don't edit by kubectl, so using patch. But updating k8s built-in resource like deployment in containerizedworkload should use strategy merge patch

[2020-07-06 15:43] erdun opened #87 "Remove revisions when revisionHistorys over limits"
There no mechanism that can do cleaning controllerrevisions

[2020-07-06 19:29] ryanzhang-oss commented on #66
Thank you very much for your help. Looks like you have successfully assigned it to yourself. Please create a pull request when you are ready

[2020-07-06 19:31] ryanzhang-oss commented on #62
@artursouza can we close this issue now?

[2020-07-06 21:43] ryanzhang-oss commented on #84
I think it's ok as long as the controller's reconcile logic is executed periodically. The issue is we need to make sure that the "re-sync" is triggered

[2020-07-06 22:39] ryanzhang-oss commented on #67
Let me clarify.  The child resources generated by the controllers (component/traits/deployment/service) are still there after the OAM controllers exit.  I wonder if the controllers don't clean up after themselves they who should?

[2020-07-06 22:53] ryanzhang-oss commented on #64
Does this take the exact same object as a `workloadRef` object? I will be surprised that it does as it's not designed for OAM.

[2020-07-06 22:56] ryanzhang-oss commented on #87
Thank you for opening this issue, I wonder if you want to create a PR?

[2020-07-06 23:05] ryanzhang-oss commented on #82
I agree that a Trait/workload definition that is merely an empty envelope feels redundant.  However, they are designed to act like "registration" of external CRDs on OAM runtime. One potential concern is how do we know if a typo in the appConfig results in the controller can't locate the definition of a trait/workload and creates a wrong definition by mistake?

[2020-07-06 23:11] resouer commented on #82
Are we clear particular features in OAM rely on definition objects?

One approach is we allow non-definition case and clarify what's missing in this case besides loose discoverability.

[2020-07-07 02:26] erdun commented on #87
👌

[2020-07-07 06:49] CoderPoet commented on #84
I am very sorry that this issue may not be a problem. @wonderflow  @ryanzhang-oss

After reading the source code,I found that OAM Runtime uses the Controller-Runtime RequeueAfter mechanism

Setting the default one minute rerequeue request will trigger appConfig reconcile every minute

[RequeueAfter 1min](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/pkg/controller/v1alpha2/appli

[2020-07-07 09:30] wonderflow commented on #84
Will it re-create workload which is deleted by mistake? @CoderPoet

[2020-07-07 10:43] CoderPoet commented on #84
Yes, today when I test, I found it will automatically re-trigger the Reconcile logic every minute, then auto re-create the workload.

So I read the code carefully and found out that It should be due to the use of ReuqueAfter mechanism

[2020-07-07 10:46] wonderflow commented on #84
Thanks, then I'll close this issue.

[2020-07-07 10:46] #84 closed

[2020-07-08 12:17] jack0liu opened #89 "The dag does not support two input dependencies"
The dependency like below, when one component input parameter( ex. db-host) ready , then *apiserver2* will been created, but another parameter(monitor-host) not been paved.

[code]

[2020-07-08 13:10] wonderflow commented on #89
Thanks, @hongchaodeng  is refactoring this feature at #74

[2020-07-08 17:53] #77 closed

[2020-07-09 08:16] wonderflow opened #91 "add observedGeneration to represent Component and AppConfig has reconciled"
`observedGeneration` field of status in K8s object is widely used in K8s built-in resource. It reflects the generation of the most recently observed Object.

With the help of `observedGeneration` field, user can recognize whether a CR is reconciled by controller.

A workflow will like below:

[code]

After the controller reconciled, the `observedGeneration` will appear and align with `generation`

[2020-07-09 14:18] LeoLiuYan commented on #91
/assign

[2020-07-09 19:47] ryanzhang-oss commented on #82
what's the verdict?

[2020-07-09 20:51] hongchaodeng commented on #82
I think the points that
1) CRDs needs to be registered with OAM and
2) users do not need to write XDefinitions
are not conflict.

One way to make it happen is that there is mega-definition that will cover CRDs not linked to explicit definitions. Just like PID 0.

[2020-07-10 03:54] sunny0826 opened #93 "some problem of dependency README.md"
https://github.com/crossplane/oam-kubernetes-runtime/blob/master/examples/dependency/README.md

may need remove `Start OAM runtime by: ...`
![image](https://user-images.githubusercontent.com/24563928/87114132-639dd500-c2a2-11ea-991b-1f841da5e5bd.png)

need add deploy [`crd`](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/examples/dependency/crd.yaml) and [`TraitDefinition`](https

[2020-07-10 04:09] hongchaodeng commented on #93
This will be fixed in https://github.com/crossplane/oam-kubernetes-runtime/pull/74

[2020-07-10 04:58] erdun opened #94 "Componet not shared with namespaces"
Componet not shared in namespaces, must create component in each namespaces. Should appConfig use component cross namespaces?

[2020-07-10 05:46] resouer commented on #94
Unfortunately, K8s won't allow you to reference resource across namespaces.

[2020-07-10 05:49] Ghostbaby commented on #94
Maybe, you can use the svc name to connect another namespace component.

[2020-07-10 06:11] sunny0826 commented on #93
cool !

[2020-07-10 09:16] allenhaozi commented on #82
I met this error `traitDefinition not found` when switching from Crossplane to oam-kubernetes-runtime in my dev environment, I use Crossplane in production now.
so when I upgrade to oam-kubernetes-runtime I needed to design a low-cost way to add it

who and when to add it

the best way is that the CRD was produced, this XDefinitions was also generated at the same time, but kubebuilder can not
 do

[2020-07-10 11:46] zzxwill opened #96 "Add AGE property for workload"
It's a little bit difficult for users to quickly identify the component he/she created some time ago.
[code]

It would be better if `AGE` property can also be shown as `ApplicationConfiguration`.
[code]

[2020-07-11 00:38] ryanzhang-oss commented on #96
good suggestion, feel free to create a PR

[2020-07-13 02:56] wonderflow commented on #91
@LeoLiuYan  Thanks

[2020-07-13 05:15] erdun commented on #94
Creating components each namespaces，components operations must create components before the end users use, if there are many namepsaces, maintaining components or traits may be a dirty work, is it possible use labels to refer the resource?

[2020-07-13 14:46] wonderflow commented on #94
In which case do you need to share components in different namespaces? It will be helpful if you could describe a bit more details.

[2020-07-13 15:56] erdun commented on #94
Each team is permitted in one namespace in our company, so there're several namespaces. As the admin of the cluster, I need create components in each namespace first that they can create Appconfig in there's namespaces. Or is there any recommend ways to use oam?

[2020-07-14 05:51] wonderflow commented on #89
closing as #74 merged

[2020-07-14 05:51] #89 closed

[2020-07-14 05:52] wonderflow commented on #93
closing as #74 merged

[2020-07-14 05:52] #93 closed

[2020-07-14 05:54] wonderflow commented on #94
Component should be created by user not admin, they are instances of an App not template.

[2020-07-14 07:31] Ghostbaby commented on #96
@ryanzhang-oss @wonderflow pls assigned this issue to me.

[2020-07-14 07:46] wonderflow commented on #96
@Ghostbaby  Sure, thanks

[2020-07-14 07:52] wonderflow commented on #69
I think this is also a good first issue. Someone who want to take this issue could follow [mechanism in trait](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/one-pager-trait-workload-interaction-mechanism.md#proposal).

1. Write a proposal to notice there is a `workloadRefPath` in scopeDefinition.

[code]

2. Change the hardcode part in oam-k8s-runtime.

[2020-07-14 07:55] wonderflow commented on #71
@ryanzhang-oss  Can you explain a bit more about how to

[2020-07-14 07:58] captainroy-hy commented on #69
@ryanzhang-oss @wonderflow I think I can help for this issue. Could you please assign it to me?

[2020-07-14 09:10] wonderflow commented on #69
@captainroy-hy  sure, thanks

[2020-07-14 10:32] majian159 opened #97 "Upload charts to Helm Hub?"
After uploading to helm, git clone is no longer needed.

[2020-07-14 12:37] wonderflow commented on #97
Yeah, we're integrating this repo into crossplane release https://github.com/crossplane/oam-kubernetes-runtime/pull/90

After that, the helm chart will generate automatically.

[2020-07-14 18:53] ryanzhang-oss commented on #71
I think the current containerizedWorkload GC logic kinda cumbersome, need to think if there is a better approach. That part was not really a "good first issue", the adding test coverage part definitely is

[2020-07-15 07:01] majian159 opened #100 "oam-core-runtime OOMKilled"
default charts values.yaml memory limit value is too small, currently 30Mi.
recommend to raise requests and limits.

[code]

[2020-07-15 07:06] wonderflow commented on #100
Thanks, do you like to send a PR for this change?

[2020-07-15 07:14] majian159 commented on #100
#101 please check. @wonderflow

[2020-07-15 20:43] #66 closed

[2020-07-16 02:44] #96 closed

[2020-07-16 04:12] #100 closed

[2020-07-17 12:03] captainroy-hy commented on #69
As for the proposal, is it necessary to write an independent proposal for Scope from scratch? How about appending content into  [mechanism in trait proposal](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/one-pager-trait-workload-interaction-mechanism.md#proposal) since scope shares almost the same mechanism as trait on this feature?

[2020-07-17 19:13] resouer opened #107 "Better support for Kubernetes built-in resources"
Most of the community users of oam-kubernetes-runime tend to get start OAM with Kubernetes built-in resources rather than plugin capabilities. We should create a better experience for them. Let's use this one as a parent issue.

1. Generate definition objects for common K8s built-in resources by default. A good example of "common resources" is what's listed by default in https://github.com/vmware-

[2020-07-17 19:39] hongchaodeng commented on #107
There should be a "root" WorkloadDefinition and TraitDefinition by design. Any k8s built-in resource could be modeled as one of the types. If runtime couldn't find an explicit definition, it will point to the root implicitly.

This is two orthogonal issues.
First, having a Secret trait would be a great add-on from operational experience.
Second, auto injection has nothing to do with Secret, but mo

[2020-07-17 19:45] resouer commented on #82
The platform admin is expected to register capability so users have a way to know what workloads/traits the system currently supported. And oam-k8s-runtime should report error (or warning at least) if definition object is missing.

@allenhaozi Do you think auto-generating definition objects for common k8s built-in resources help?

It seems the best answer for now is:

1. auto-gen definitions for c

[2020-07-17 19:48] hongchaodeng opened #108 "Support migration from v1alpha1 to v1alpha2 OAM CRDs"
# Background
There are many many existing users who adopted v1alpha1. In order for them to adopt oam-k8s-runtime and upgrade to v1alpha2 spec, they need to migrate existing OAM CRDs and objects.

The migration could be done via automatic conversion provided as a webhook. For more details, please refer to [upstream doc](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-reso

[2020-07-17 19:51] resouer commented on #108
Related: https://github.com/vmware/crd-migration-tool

[2020-07-17 21:05] ryanzhang-oss commented on #82
LGTM, I will update the code

[2020-07-17 22:00] artursouza commented on #61
Closing it.

[2020-07-17 22:00] #61 closed

[2020-07-17 22:00] artursouza commented on #62
We did implement HealthScope. If this issue is about other Application Scopes too, then it should remain open.

[2020-07-18 00:06] resouer commented on #107
Second, auto injection has nothing to do with Secret, but more about object definition mapping. This needs more use case input before we have a final design.

The alternative is "auto-injection" could be achieved in app engine layer (e.g. `--link` feature) by leveraging the exiting dataInput/Ouput design. So oam-k8s-runtime will be left as-is for lower level primitives.

In that case, we would pro

[2020-07-18 02:33] wonderflow commented on #82
Yes, "auto-generating definition objects" is the best answer now

[2020-07-18 04:36] wonderflow commented on #107
@resouer "auto-injection" can achieved at app engine layer, but I think it's better if oam-k8s-runtime could have this ability.

I don't think Secret trait is good idea as we already have service binding trait which can contain secret as a kind of source. What I hope to see is a better design for service binding trait to have the "auto-injection" ability.

Let's have a quick summary for service  b

[2020-07-18 22:07] hongchaodeng commented on #107
I would like to rectify the naming here first. The name of the feature should be called *Secret Binding*. Service Binding means connecting a service to another service without knowing the details of where to get the connection credentials. For example, binding a Spring Web App to a PostgreSQL DB. On the contrary, what we are discussing here is focused on **Secret**, and to integrate the secret int

[2020-07-19 04:03] zzxwill opened #109 "Deploying ApplicationConfiguration hit issue `cannot update application configuration status`"
Deploying an ApplicationConfiguration with a simple workload like ContainerizedWorkload or Deployment hit an issue as below.
[code]

This could reproduce if apply those manifest under https://github.com/oam-dev/catalog/tree/master/workloads/deployment

[2020-07-20 01:58] wonderflow commented on #69
@captainroy-hy  update the mechanism proposal is OK for me. But we must write in a separate section

[2020-07-20 02:02] captainroy-hy commented on #69
Oh, sorry for updating the progress late. I have already added the proposal in a new commit #106

[2020-07-20 02:25] captainroy-hy commented on #68
Maybe I can help on this issue. Could you please assign it to me? @ryanzhang-oss

[2020-07-21 03:40] zzxwill commented on #109
Please follow the steps in [README](https://github.com/oam-dev/catalog/blob/master/workloads/deployment/README.md) to reproduce the issue. Thanks.

[2020-07-21 03:45] wonderflow opened #110 "Multiple revision of one component in the AppConfig"
[code]

In this example, revision  ` example-component-1` and `example-component-2` are of the same component.

Add this case into revision proposal, and make sure this case work.

[2020-07-21 05:09] captainroy-hy commented on #110
It comes across with below confusing scenario.
Here's the schematic of a Component
[code]
And the appConfig contains two revision of one component but they are assigned the same workload name.
[code]
The deployment result is that there's only one ContainerizedWorkload object created, and in each round of reconciling, one more pod is being created but terminated immediately.
[code]
---
Current vers

[2020-07-21 05:14] wonderflow commented on #110
The essential problem here is we can't specify parameters especially instance name if we want to use workload revision. @captainroy-hy

[2020-07-21 05:23] captainroy-hy commented on #110
Yes, and nor fixing workload name in Component schematic like below, even maybe no one would like to do this...
[code]

[2020-07-21 05:31] wonderflow commented on #110
yes, we can rely on admission webhook to check this case.

[2020-07-21 06:32] hongchaodeng opened #113 "Disable DCO in CI checks"
The DCO breaks one of the Github features that changes from reviewers can be committed directly. In that case, the commits do not have any signoff.

I am not sure what is the reasoning to have DCO at first place. If it is not a must-have thing (legal issue), we should just disable it.

[2020-07-21 06:39] wonderflow commented on #109
I didn't re-produce this issue, please make sure you don't have more than one oam-k8s-runtime processes running.

[2020-07-21 06:55] hongchaodeng opened #114 "Codecov is broken"
Codecov recently failed many times in PRs that just change doc or e2e test which has nothing to do with normal code logic or unit test.

[2020-07-21 06:55] zzxwill commented on #109
@wonderflow You are correct. There is another process running after helm package crossplane is installed. Thanks a lot.

[2020-07-21 06:55] #109 closed

[2020-07-21 07:04] jbw976 commented on #113
The Developer Certificate of Origin (DCO) is the statement from the contributor that they have the right to submit the contribution and they understand that it will be used in the project.  It came from the Linux Foundation as a lightweight alternative to a Contributor License Agreement (CLA).  See https://developercertificate.org/ for the full language around them.

They are a legal necessity for

[2020-07-21 07:23] wonderflow commented on #11
closing as proposal has been merged and implemented https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/resource-dependency.md

[2020-07-21 07:23] #11 closed

[2020-07-21 08:15] wonderflow commented on #73
I'll bootstrap this work.

[2020-07-21 15:26] hongchaodeng commented on #113
Why not change it to CLA? From my experience with CLA it do not break the Github feature that I mentioned above.

[2020-07-21 16:55] jbw976 commented on #113
CLA has a higher barrier to entry where potential contributors have to follow an explicit flow and agreement up front before they can produce any contributions.  We opted for the more streamlined flow of DCO that allows people to offer contributions more easily with out any friction.

I think this trade-off to more easily accept new contributors to the community is worth the increased friction in

[2020-07-21 19:47] hongchaodeng commented on #113
OK. Let's keep this issue open until we have a solution for the suggested changes feature

[2020-07-21 23:21] hongchaodeng opened #118 "Generate v1 CRD instead of v1beta1"
# Motivation
v1beta1 CRD has been deprecated in k8s 1.16+ . That means now v1beta1 CRD isn't supported anymore.

However, currently all of our CRDs are generated as v1beta1:
https://github.com/crossplane/oam-kubernetes-runtime/blob/b678ec6a4302b458349651211247847fc829b3d0/charts/oam-kubernetes-runtime/crds/core.oam.dev_applicationconfigurations.yaml#L3

We should switch to generate v1 CRD instead.

[2020-07-21 23:46] hongchaodeng commented on #118
xref https://github.com/crossplane/oam-kubernetes-runtime/issues/108

[2020-07-22 04:17] hongchaodeng commented on #108
https://quanxi-account.aliyun-inc.com/

For next steps, we need to write tools to automate two kinds of migration:

1. APIVersion migration.

    - [Change v1beta1 CRD definition to v1 CRD](https://github.com/crossplane/oam-kubernetes-runtime/issues/118).
    - We need to add a Kustomize Overlay of v1alpha1 OAM Types to existing v1alpha2 OAM Types:

[code]

      Additionally, we need to add the f

[2020-07-22 12:01] helios741 opened #120 "VolumeResource.MouthPath typo in core_workload_types"
[v1alpha2/core_workload_types.go#L113](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/apis/core/v1alpha2/core_workload_types.go#L113) field is **MouthPath**, But json is **mountPath**,Is it a spelling mistake?If it is, I can create a PR to fix it.

[2020-07-22 16:58] #118 closed

[2020-07-22 20:25] hongchaodeng commented on #120
Should be `MountPath`

[2020-07-23 01:50] majian159 opened #123 "Charts allows to overwrite kube-rbac-proxy image"
Chart supports setting kube-rbac-proxy image。

gcr.io cannot be accessed on a specific network.

[2020-07-23 01:56] helios741 opened #124 "CI fail for PR"
i submitted  [pr](https://github.com/crossplane/oam-kubernetes-runtime/pull/122#partial-pull-merging) , but continuous-integration/jenkins/pr-head  error , is [this](https://jenkinsci.upbound.io/blue/organizations/jenkins/crossplane%2Foam-kubernetes-runtime/detail/PR-122/2/pipeline) error.
![image](https://user-images.githubusercontent.com/12036324/88245672-8a103700-ccca-11ea-8faa-4e6d88fefae1.png

[2020-07-23 02:05] hongchaodeng commented on #124
As maintainers we can't rerun the tests by now. Still figuring out a way to do that.
cc @jbw976 @hasheddan

@helios741 At the mean time, how about just amend the commit message and force push it again to retrigger?

[2020-07-23 03:06] wonderflow commented on #120
fixed by #122

[2020-07-23 03:06] #120 closed

[2020-07-23 03:37] wonderflow opened #128 "add pre and post hooks for customized reconcile logic"
This is an issue for tracker.

We have already created a PR https://github.com/crossplane/oam-kubernetes-runtime/pull/105 , and already merged in [dev branch](https://github.com/crossplane/oam-kubernetes-runtime/tree/dev) for test.

# Use cases

1. Graceful up and down
2. Any customized logic needed

[2020-07-23 03:40] wonderflow commented on #91
This is a kindly ping. Hi @LeoLiuYan,  have you started?

[2020-07-23 03:55] LeoLiuYan commented on #91
Oh.. not yet. I will start in this weekend.

[2020-07-23 04:15] wonderflow commented on #55
Step 4 has done https://github.com/oam-dev/crossplane-oam-sample

[2020-07-23 05:37] sunny0826 opened #130 "[feature]add github issue templates"
Categorize ISSUE and add labels for easy viewing and discussion.

Configuring issue templates for oam-kubernetes-runtime: https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

add issue template like:
- bug
- feature
- help wanted

[2020-07-23 06:57] #69 closed

[2020-07-23 07:15] #73 closed

[2020-07-23 07:15] #81 closed

[2020-07-23 07:17] wonderflow commented on #123
kube-rbac-proxy is removed by #119

[2020-07-23 07:17] #123 closed

[2020-07-23 07:27] wonderflow commented on #110
@captainroy-hy Now we have admission webhook, never mind to add validation there.

[2020-07-23 11:18] wonderflow opened #133 "definition files not contained in chart"
When oam-k8s-runtime installed, we will have manualscaler trait, containerizedworkload, health scope.

But now, their definition files are not contained in chart, which means we can't use them.

We should put definition file of these controller into charts.

* health scope[ definition file](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/examples/containerized-workload/sample_scop

[2020-07-23 23:59] resouer opened #136 "How do we handle target reference fields and labels?"
In OAM, the target reference fields or label selectors do not make a lot sense. For example, consider these traits below:

[code]

[code]

All these label `selector` and `scaleTargetRef` can be generated by OAM runtime since OAM clearly know which workload it bound to (AWS folks call this "intention driven").

**So the question is can we do and will we do this for users?**

Several approaches if w

[2020-07-24 02:34] wonderflow commented on #136
For `scaleTargetRef` case , we already have such mechanism, using [`workloadRef` in TraitDefinition](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/one-pager-trait-scope-workload-interaction-mechanism.md#traits-and-workloads-interaction-mechanism) will help oam-runtime to bind workload automatically.

For `label seclector` case, I suggest we generate unified labels for all

[2020-07-24 03:21] resouer commented on #136
@wonderflow this issue is about whether we want to inject (and how to inject) such information to user brought capabilities (Service, HPA, their own Operators etc), so they don't need to define these fields/labels manually. `workloadRef` and generate labels won't help in this case.

[2020-07-24 03:31] hongchaodeng commented on #136
The reason why k8s has labeling and object reference in the first place is because it is designed to be loosely coupled resources.
1) Labeling is designed to organize and group resources.
2) object ref is to work around the lack of indexing in APIServer. Think of it as an alternative to _Foreign Key_.

For 1), OAM has provided an application centric structure to organize resources, which is higher

[2020-07-24 07:31] jack0liu opened #137 "support multi kinds in abstract layer containerizedworkload"
In the abstract layer containerizedworkload, currently only the deployment is supported.

One user case :
An  app contains two components, one is deployment, another is statefulset. For simplifying definition with OAM way， we use containerizedworkload as component workload.

Example:

The storage-api is not stateful, it maybe work well with containerizedworkload:

[code]

The file-storage is state

[2020-07-24 08:37] wonderflow opened #138 "Update readme docs in examples"
Now we have released helm chart for oam-k8s-runtime, and `addon-oam-kubernetes-local` already merged in `oam-k8s-runtime`. We should update docs to align with[ the installation](https://github.com/crossplane/oam-kubernetes-runtime#install-oam-runtime).

I have found at least these places need to update:

* https://github.com/crossplane/oam-kubernetes-runtime/tree/master/examples/dependency#prerequ

[2020-07-24 08:46] wonderflow commented on #137
I have a immature idea:

[code]

The `Stateful` trait could be [a patch trait](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/trait-separated-from-underlying-workload-should-patch-back.md),  and the two workload created can be:

[code]

[code]

The annotation part could be a patch provisioned by `Stateful` trait.
[code]

And finally the controller of ContainerizedWorkload

[2020-07-24 08:52] wonderflow commented on #97
released https://github.com/crossplane/oam-kubernetes-runtime#install-oam-runtime

[2020-07-24 08:52] #97 closed

[2020-07-24 08:52] #130 closed

[2020-07-24 08:55] wonderflow commented on #14
Now we have admission controller, this work would be easily done.

[2020-07-24 09:33] zhangxiaoyu-zidif commented on #138
/assign @leopoldxx

[2020-07-24 09:47] jack0liu commented on #137
@wonderflow yes, i believe that it will work. but that usage doesn't seem to match the concept of the trait, would customers be confused with the definition of trait?

[2020-07-24 11:26] wonderflow commented on #137
@jack0liu A better name will solve it

[2020-07-25 10:06] SataQiu commented on #133
/assign

[2020-07-26 01:57] resouer opened #141 "[Feature] Add conflictsWith to TraitDefitnition"
**Is your feature request related to a problem? Please describe.**

For registering a given capability, we should support a field named `conflictsWith`

**Describe the solution you'd like**

[code]

So in case when operator apply `cronscaler` and `hpa` trait to the same component, oam runtime will report error.

**Describe alternatives you've considered**

**Additional context**

[2020-07-26 13:13] leopoldxx opened #143 "Passing odd number of arguments for logging caused program panic and exit"
**Describe the bug**

Passing odd number of arguments for logging caused program panic and exit.

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2020-07-26 13:16] leopoldxx commented on #143
I create a pr to fix the log itself. Bug if should we add a recover routine when enter `Reconcile` logic ?

[2020-07-26 13:17] leopoldxx commented on #143
/cc @ryanzhang-oss

[2020-07-26 23:32] hongchaodeng commented on #141
ref: https://github.com/oam-dev/spec/issues/352

[2020-07-27 02:16] wonderflow commented on #141
ConflictWith could be presentation layer, and conflict labe in oam-dev/spec#352 could be real implementation.

[2020-07-27 06:40] #143 closed

[2020-07-27 10:25] SataQiu commented on #133
Hi @wonderflow !
Emm...  I found it is a little hard to put these `definition files` into the `crds` folder for automatic installation:
1. the `definition file` is CR, `crds` folder should store CRD instead of CR
2. we cannot guarantee that the creation of a CR is later than the creation of it's CRD

Do we want to put these definition files into the `templates` folder ? But I think it will cause a

[2020-07-27 11:16] wonderflow commented on #133
Yes.

You can assume our users are using helm v3 and won't use `--skip-crds` flags.

[2020-07-28 10:04] wenxinnnnn opened #149 "[Question]Can different workloads be selected？"
In order to meet the needs of each service of our microservices to mount the sidecar of consul-client.

I tried to develop a **SidecarSetWorkload** for the [catalog](https://github.com/oam-dev/catalog), but I needed a differentiated choice of pod to mount the sidecar. I saw a related issue: #136， Do I have any other solutions?

[code]

[2020-07-28 15:16] #94 closed

[2020-07-29 04:12] wonderflow opened #150 "[BUG] e2e test still failing"
https://github.com/crossplane/oam-kubernetes-runtime/pull/142

@hongchaodeng @My-pleasure

[2020-07-29 07:49] #150 closed

[2020-07-29 08:04] wonderflow commented on #149
@wenxinnnnn  a better solution is to make sidecar as a trait, you can rely on [patch trait mechanism](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/trait-separated-from-underlying-workload-should-patch-back.md) to patch this sidecar  into your workload.

[2020-07-29 08:35] captainroy-hy opened #152 "Use one client in appConfig controller to keep code concise"
In AppConfig controller [Reconciler](https://github.com/crossplane/oam-kubernetes-runtime/blob/ca3bc22d767e0a67da3eeb8bc07360916f544d8d/pkg/controller/v1alpha2/applicationconfiguration/applicationconfiguration.go#L167) and [Component Handler](https://github.com/crossplane/oam-kubernetes-runtime/blob/ca3bc22d767e0a67da3eeb8bc07360916f544d8d/pkg/controller/v1alpha2/applicationconfiguration/applicati

[2020-07-29 09:58] #138 closed

[2020-07-29 18:09] resouer commented on #141
@wonderflow `appliesTo` and `conflictsWith` should follow the same pattern:

[code]

[2020-07-29 21:35] resouer commented on #149
Another option is to create a SidecarSet trait: https://github.com/openkruise/kruise/blob/master/docs/tutorial/sidecarset.md

[2020-07-30 02:04] hongchaodeng commented on #108
Here is some diagrams depicting more details for the migration:

## 1. Implement and deploy conversion webhook
  - It is used to support not only user requests but also the storage migration too
  - Need to support not only AppConfig conversion but also some custom logic to update Components too

![20200729190155](https://user-images.githubusercontent.com/920884/88871994-17252580-d1ce-11ea-89f2-c8

[2020-07-30 03:19] wonderflow commented on #152
re-assign to @erdun as he is already working on it #95

[2020-07-30 03:20] captainroy-hy commented on #152
Sure, got it.

[2020-07-30 05:41] wenxinnnnn commented on #149
Openkruise's SidecarSet also uses selectors to select pods, and deploy sidecars in aspects. I found that ContainerizedWorkload does not support setting different labels.

[2020-07-30 05:47] wenxinnnnn commented on #149
I got it, thanks。
I didn’t see the corresponding implementation of this patch trait in this project. Did I miss it?
Is there an example where this trait has been implemented?

[2020-07-31 02:29] zzxwill opened #156 "[BUG] Write e2e test for CRUD of TraitDefinition/WorkloadDefinition/ScopeDefinition with spec.extension field"
**Describe the bug**

As a new field `spec.extension` is added  to TraitDefinition/WorkloadDefinition/ScopeDefinition, CRUD is need for the e2e-test.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2020-07-31 02:30] zzxwill commented on #156
Please help assign this to me.

[2020-07-31 09:36] ifree613 opened #157 "[Feature]Support for merging multiple JSON/XML fragments to cover complex types"
**Is your feature request related to a problem? Please describe.**

Ref to Pull requests : https://github.com/crossplane/oam-kubernetes-runtime/pull/134

**Describe the solution you'd like**

### Support for merging multiple JSON/XML fragments to cover complex types

* Sample JSON fragment 1,patch1

[code]

* Sample JSON fragment 1,patch2

[code]

* Call the merge API sample

[code]

Note: By spec

[2020-08-02 02:10] captainroy-hy opened #158 "[BUG] Scope workload-ref records not removed when referenced AppConfig deleted"
**Describe the bug**

Scope, e.g. Healthscope, records referenced workloads in its workloadRefsPath field, if we delete ref workloads' owner appConfig, the workload would be gc but its record in Scope would NOT. **The root problem** is that, delete operation on AppConfig cannot trigger [`dereferenceScope` ](https://github.com/crossplane/oam-kubernetes-runtime/blob/be76681896c9ec86525815c32b11d19e2

[2020-08-02 02:34] wonderflow commented on #158
We can use [finalizer](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#finalizers) to solve this issue. Usually the steps could be as following:

1. When scope is attached to an AppConfig, mark a finalizer on it.
2. When AppConfig is deleting, the finalizer will stop K8s apiserver from really deleting. Instead, apiserver will mark a deletionTimestam

[2020-08-02 02:35] wonderflow commented on #152
fixed by #155

[2020-08-02 02:35] #152 closed

[2020-08-02 10:17] captainroy-hy commented on #158
@wonderflow Got it! Could you please assign this issue to me?

[2020-08-02 16:34] hongchaodeng commented on #158
assigned @captainroy-hy

[2020-08-03 05:19] resouer commented on #136
@wonderflow That being said, it's indeed necessary to automatically add labels to OAM workloads and traits. Could you please raise a separate issue for this? I'd guess https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/ could be considered.

[2020-08-03 06:08] wonderflow commented on #136
@resouer  sure, I'm considering to write a proposal for that

[2020-08-03 15:55] #124 closed

[2020-08-06 02:15] CoderPoet opened #161 "Using the OAM to describe resources, how do we implement platform-level authority management"
Using the OAM to describe resources, how do we implement platform-level authority management?

Previously, we set the Role, bound the corresponding resource, and then bound it to the user through RoleBinding. But now the user is operating on the Component and AppConfig resources, and then the operator is operating on the resources, and the OPERATOR's SA has permissions on those resources, equivale

[2020-08-06 22:04] Ashnam1100 opened #164 "Annotation and Labels Not Propagating"
An annotation written in a ContainerizedWorkload does not propagate to the deployed pod.

kubectl describe ContainerizedWorkload:
![image](https://user-images.githubusercontent.com/33374380/89585994-e2881e00-d80c-11ea-8511-59e7e898e385.png)

kubectl describe pod [corresponding pod for the ContainerizedWorkload]:
![image](https://user-images.githubusercontent.com/33374380/89586554-e9636080-d80d-11e

[2020-08-06 22:07] Ashnam1100 commented on #164
Sure thing, thanks!

[2020-08-07 00:24] prasek commented on #161
/cc @ryanzhang-oss @artursouza @negz

[2020-08-07 01:28] resouer commented on #164
@Ashnam1100 Thanks for reporting! @hasheddan Ryan is working on this issue, should be fixed soon!

[2020-08-07 02:22] wonderflow commented on #164
Thanks, it has been fixed by #166

[2020-08-07 02:22] #164 closed

[2020-08-07 15:22] hongchaodeng opened #167 "Resource Dependency to support appending array of unstructured types"
Have talked offline to some users and get the following feedback:

In the [Cloud logging setup](https://help.aliyun.com/document_detail/131598.html?spm=a2c4g.11174283.6.1009.103d2ceeD8wee2), it requires to pass `[]v1.EnvVar`, `[]v1.Volume`, `[]v1.VolumeMount` as the parameters:

[code]

However, the current implementation doesn't support such array types yet.

[2020-08-08 00:18] hongchaodeng commented on #157
FYI, this is what json merge patch does: https://tools.ietf.org/html/rfc7386

[2020-08-09 10:01] captainroy-hy opened #170 "[BUG] missing namespace setting when create ControllerRevision"
**Describe the bug**

ControllerRevision cannot be created since namespace value is not assigned. That breaks Component versioning mechanism. PR #155
`error cannot create a controllerrevision: an empty namespace may not be set during creation`

[2020-08-10 20:22] #170 closed

[2020-08-11 18:31] #167 closed

[2020-08-11 23:01] resouer commented on #149
@wenxinnnnn The patch trait PR is WIP: https://github.com/crossplane/oam-kubernetes-runtime/pull/134

Btw, `ContainerizedWorkload` will pass its labels/annotations to Pods, see: https://github.com/crossplane/oam-kubernetes-runtime/pull/166. So the only thing you need to do is directly define a SidecarSet CR as a trait and select the labels of `ContainerizedWorkload`.

[2020-08-12 00:42] resouer opened #174 "[Feature] Proper defaulting for metadata of workload"
**Is your feature request related to a problem? Please describe.**

Ref: https://github.com/crossplane/oam-kubernetes-runtime/issues/136

OAM runtime should automatically generate labels for Workload (ref: [k8s recommend labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/)), I'd propose three standard labels below:

[code]
For example:

[code]

[2020-08-12 22:27] ryanzhang-oss commented on #161
I wonder if you have a more specific example on what is an "OAM user" vs "OPERATOR's SA"?

[2020-08-13 04:21] ryanzhang-oss commented on #174
Why do we need this when the name is already in the meta?

What revision is this? It looks like it's not the component revision number.

[2020-08-13 06:19] resouer commented on #174
@ryanzhang-oss These labels are all component's info, not workload, I've updated the label key and example.

[2020-08-13 17:09] resouer opened #176 "[Feature] Monolithic is preferred in OAM runtime"
**Is your feature request related to a problem? Please describe.**

Having multiple controllers installed and maintained doesn't make sense, as they are all core features of OAM, like rollout, monitoring, logging, route etc. We should think about how to go monolithic.

**Describe the solution you'd like**

Package all core/standard workload/trait in OAM Kubernetes Runtime, with a ConfigMap to set

[2020-08-14 18:43] ryanzhang-oss commented on #176
We haven't really designated any resources as "standard"  yet.

[2020-08-14 18:59] resouer commented on #176
@ryanzhang-oss Metrics Trait? https://github.com/oam-dev/catalog/tree/master/traits/metricstrait

[2020-08-18 02:34] hongchaodeng opened #181 "[Feature] Automatically fill correlation fields for users"
Currently, if we want to deploy an OAM app, it still requires filling fields like label selector or serviceName:

[code]

The label selector in Service and serviceName/Port in Ingress could be automatically inferred in the context of appconfig. A user should ultimately save the effort and just write:

[code]

[2020-08-19 09:48] wonderflow commented on #174
This is an important issue, with this label, **trait can find underlying pods easily**.

It's helpful at least for below two cases:

* ingress/service/traffic trait can easily route their traffic to pods with the information of OAM AppConfig/Component.
* log/metrics trait can easily find which pods need to gather logs or metrics  by OAM AppConfig.

What's more, any trait can rely on K8s `label sel

[2020-08-19 09:50] wonderflow commented on #128
fixed by #105

[2020-08-19 09:50] #128 closed

[2020-08-19 09:51] wonderflow commented on #133
Hi @SataQiu , are you still working on this?

[2020-08-19 09:51] wonderflow commented on #91
@LeoLiuYan  Hi, are you still interested on this work？

[2020-08-19 16:58] resouer commented on #174
Not sure how about `app.oam.dev/name: <appconfig's metadata.name>`?

Others, all agree.

[2020-08-19 18:35] resouer commented on #174
Some other optional but valuable labels:

[code]

These labels are important for `appliesTo` work properly.

[2020-08-20 01:36] LeoLiuYan commented on #91
Yes, I will submit PR as soon as possible.

[2020-08-23 05:20] resouer opened #182 "[BUG] OAM Runtime should implement the structured form of trait list"
See: https://github.com/oam-dev/spec/blob/master/7.application_configuration.md#traitdata.

For `traitData` section, we now only implemented the unstructured approach. I'd propose we also implement the structured approach like below:

[code]

[code]

This could be handled with a non-break change: runtime check`traitData[i].trait` field as a flag to support both forms.

This new form matches natura

[2020-08-24 04:42] captainroy-hy commented on #158
Fixed in #163

[2020-08-24 04:42] #158 closed

[2020-08-24 13:02] wonderflow commented on #157
Can we use [kustomize](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/) to solve this issue?

Support both `patchesJson6902` and `patchesStrategicMerge`.

[2020-08-25 03:45] wonderflow commented on #182
What about:

[code]

[2020-08-25 03:59] resouer commented on #182
Properties in most cases indicates key-value pairs. I would prefer spec instead.

Also, I `prefer` name than `type` because trait is already a type. That is to say, if we decide to remove GVK from workload, it will be `type`:

[code]

But it seems no need to touch workload for now.

[2020-08-25 18:04] resouer commented on #181
@hongchaodeng one possible solution may be "mark" the selector filed path in definition object and let OAM runtime to inject required information (similar to a patch trait).

[2020-08-25 18:30] ryanzhang-oss commented on #181
I think these two cases are actually different.
In the first "serviceTrait" case, the trait can discover the labels from the workload it attaches to.
In the second "ingress" case, the trait needs to know the information of another trait applied to the same workload. This probably needs some explicit data dependency injection which seems to look even more cumbersome.

[2020-08-25 18:59] resouer commented on #181
@ryanzhang-oss The second case is actually not a dependency issue, it's a discover issue. I'd propose OAM runtime automatically generate Services for a given component based on its revision history and expose all its ports. Let's say below component has 2 revisions:

[code]

[code]

Then three Services should be in the system
[code]

So traits are free to use these Service names to do their job.

[2020-08-25 19:09] resouer commented on #174
According to #181, we also need another label:
[code]

Note that to make these labels work, all of them MUST be **propagated** to Pods automatically and correctly,  https://github.com/crossplane/oam-kubernetes-runtime/issues/164 is not enough because we now need to consider update time.

Also, these labels will work very differently for workloads with its own revision system. But I don't think it

[2020-08-25 19:13] resouer commented on #181
Btw, for end users they should not use ingress or service at all. We need to think in generic about how to let user plug-in their own traits with zero effort.

Another missing use case we should also cover is: `targetRef`

[2020-08-25 19:14] resouer commented on #181
Ref and closely related to: https://github.com/crossplane/oam-kubernetes-runtime/issues/107

[2020-08-26 07:24] zzxwill opened #184 "[Feature] Propagate labels of non-core workloads to pod template"
**Is your feature request related to a problem? Please describe.**

In order to implement feature https://github.com/crossplane/oam-kubernetes-runtime/issues/174, not only could labels of ContainerizedWorkloads be propagated to its pods (implemented in https://github.com/crossplane/oam-kubernetes-runtime/pull/175), but also should work for non-core workloads, like Deployment.

Deployment workload'

[2020-08-26 07:25] zzxwill commented on #174
For ContainerizedWorkload, the labels of the workload can be propagated to deployments and pods, but for other non-core workloads, like deployment, the labels could not be automatically generated for its pods (https://github.com/crossplane/oam-kubernetes-runtime/issues/184 in details).

So need to find a way to propagate all workloads' labels to pod template.

[2020-08-26 08:15] wonderflow commented on #184
This should not be an issue as user can fulfill their config if they use non-core workloads.

In this case, you could write component like this:

[code]

[2020-08-26 13:41] zzxwill commented on #184
Cool, you are right. Thanks.

[2020-08-26 13:54] resouer commented on #184
@wonderflow For any workload the labels should be auto patched as long as it has pod template. Otherwise revisions may not work and users have to copy paste labels around.

[2020-08-27 02:36] zzxwill commented on #184
Then let's automatically patch those labels including `component.oam.dev/name`. Users will be happy with less inputs.

[2020-08-27 08:14] wonderflow commented on #87
fixed by #159

[2020-08-27 08:14] #87 closed

[2020-08-27 08:18] wonderflow commented on #62
Let's close this issue as health scope already be implemented as a good example about how to implement Application Scopes. Feel free to create a new one if new scopes are needed.

[2020-08-27 08:18] #62 closed

[2020-08-27 09:10] wonderflow commented on #133
I'm going to take it since this issue hurt user experience a lot, sorry @SataQiu

[2020-08-28 03:18] #133 closed

[2020-08-28 08:55] captainroy-hy opened #187 "[BUG] Cannot apply all components in one AppConfig"
**Describe the bug**

This [return ](https://github.com/crossplane/oam-kubernetes-runtime/blob/2ba1df7019edcfa7952c0dfae87318c365aae55a/pkg/controller/v1alpha2/applicationconfiguration/apply.go#L121) control will break the loop of applying a slice of workloads. If there are a number of components in one AppConfig and someone of them has available `scopes`, then only parts of the components can be

[2020-08-28 09:18] wonderflow commented on #187
@captainroy-hy  Good catch, this is obviously a bug, would you like to fix it? I think we need to fix it ASAP

[2020-08-28 09:20] captainroy-hy commented on #187
Sure, I will fix it and add e2e tests.

[2020-08-28 09:23] wonderflow commented on #187
@captainroy-hy  Cool!

[2020-08-28 21:52] #187 closed

[2020-08-31 23:49] resouer commented on #184
@zzxwill I agree. OAM Runtime should always patch exactly same label to PodTemplate as long as it exist.

That's also why I proposed a characteristic named `podspecable` in https://github.com/oam-dev/spec/issues/392 to WorkloadDefinition.

[2020-09-03 07:49] wonderflow opened #193 "[Umbrella Issue] summarize all label selector related issues"
This issue is trying to summarize all issues which is label selector related,  let me summarize them here first:

1. How do we handle target reference fields and labels? #136
2. [Feature] Proper defaulting labels for metadata of workload #174
3. [Feature] Automatically fill correlation fields for users #181
4. [Feature] Propagate labels of non-core workloads to pod template #184
5. Define workload

[2020-09-03 23:09] ryanzhang-oss commented on #182
Actually, I think there is real need to touch trait for now but we do need to touch workload. We need to have different workloadDefinitions pointing to the same workload.

[2020-09-03 23:22] ryanzhang-oss opened #195 "[Feature]OAM Runtime should allow different workloadDefinitions to point to the same workload Schema"
**Is your feature request related to a problem? Please describe.**
Currently,  we only allow one workloadDefinition to point to the one workload Schema by tying its name to the schema name of the workload. This leads to the problem of not able to express different types of workloads with the same schema.

**Describe the solution you'd like**
We will decouple the name of the workloadDefintion from

[2020-09-04 00:21] resouer commented on #195
The `workload` hierarchy on top of `spec` seems useless. Can we avoid that?

For example:

[code]

For backward compatible implementation, the go types in my mind will be:

[code]

[2020-09-04 00:25] resouer commented on #195
This also makes it right that `workload` section is a template of workload instances.

[2020-09-04 03:10] ryanzhang-oss commented on #195
I am not sure if this is compatible with the current structure. as the workload itself is already declared as a RawExtention. It might be doable but pretty tricky and not sure what does that buy. The below structure is fully backward compatible and easy to implenent.

type ComponentSpec struct {
        Type               String
	Workload        runtime.RawExtension
	Parameters     []ComponentPara

[2020-09-04 04:32] ryanzhang-oss commented on #195
After further discussion, we have decided to take the format below but keep the API structure. So we will just parse the rawExtension as is and if there is a "Type" top key then we will use that to locate the workloadDefinition and add the GVK back to the CR. In this case, the CR should not have GVK and metadata.

[code]

[2020-09-07 08:11] Ghostbaby commented on #91
/assign @Ghostbaby

[2020-09-07 13:27] wonderflow opened #201 "Standards of what makes a workload to be OAM workload"
As we have used OAM in more use cases now, we though we should setup some standards for OAM workload, so that OAM traits will be able to work more smoothly with workload.

### labels

OAM workload instance should have at least these three labels:

[code]

### Replica

OAM workload should have replica as a [K8s sub resource](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom

[2020-09-08 11:58] wonderflow opened #202 "[Feature] Using K8s Discovery mechanism to get resource from GVK"
[code]

Now we convert GVK to CRD Name by using plural of kind.

We should get the resource by [using discovery client](https://github.com/kubernetes/client-go/blob/master/discovery/discovery_client.go#L187-L209).

The `ServerResourcesForGroupVersion` can get resourceList from groupVersion(apiVersion) and we can get the real resource from the list.

[2020-09-13 01:44] Ghostbaby commented on #201
Maybe it should expose the `Resource` configuration

[2020-09-16 02:05] hongchaodeng commented on #195
@ryanzhang-oss Can you provide some example scenarios for this problem?

[2020-09-16 10:06] wonderflow opened #207 "[BUG] Can't find workloadDefinition is name was not match pattern <puraral-kind>.<resource-group>"
**Describe the bug**

In #195 and #198 , we have created some workload definition have custom name.

When working with Definition like [this](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/examples/typed-component/definitions.yaml#L4). The controller can't work, it says can't find workloadDefinition as we don't follow the old convention that definition name will always equal to C

[2020-09-16 16:19] zzxwill commented on #207
This happens when WorkloadDefinition's name doesn't follow the convention of `<puraral-kind>.<resource-group>`. For example.
- WorkloadDefinition with name `web-service`
[code]

- component
[code]

- ApplicationConfiguration
[code]

After these manifest are applied, it will hit the issue as below.
[code]

[2020-09-16 16:38] zzxwill commented on #207
# Solution intro
After discussion with @wonderflow , here is the solution of draft PR #208

For those WorkloadDefinitions whose name doesn't follow the pattern `<puraral-kind>.<resource-group>`, it's required them to add `metadata.annotations.definition.oam.dev/name` to set the name of the WorkloadDefintion, so is for Workload in Component manifest.
[code]

[code]

When reconciling, OAM runtime wi

[2020-09-17 07:19] wonderflow opened #210 "[Feature] add apiversion and kind into Definition"
In vela we write definition like this:

[code]

We need to use annotations to tell which GVK the definition is pointing to, this is designed to be fixed by field `definitionRef`.

The original design is that we assume there will always be only one version for one existing CRD, but we can't actually.

Currently we use the first version found: https://github.com/crossplane/oam-kubernetes-runtime/blo

[2020-09-18 08:02] barnettZQG commented on #137
[code]
This form can be regarded as experimental.
It would be more instructive to add the `ControllerType` directly to the `Spec` if this design is well accepted and well-practiced.

[2020-09-18 23:34] resouer opened #211 "[Feature] Consider polymorphic for ContainerizedWorkload implementation"
Note: this is a requirement from two end users (https://github.com/goodrain/rainbond and https://xlauncher.com/) so it seems worth a design and fix.

For now, in OAM Kubernetes runtime the child resource of `ContainerizedWorkload` is Deployment. But the users hope this become polymorphic so in certain cases and generate StatefulSet instead.

The users' proposal is let persistent volume trait deter

[2020-09-18 23:43] resouer commented on #211
/cc @krmayankk

[2020-09-21 06:42] zzxwill opened #213 "[BUG] provide a way to help find a TraitDefintion whose name doesn't follow the convention of <plurals-kind>.<resource-group>"
Similar to https://github.com/crossplane/oam-kubernetes-runtime/issues/207, we need to provide a way to help find a TraitDefintion whose name doesn't follow the convention of `<plurals-kind>.<resource-group>`

[2020-09-24 02:41] zzxwill commented on #210
Working on it. Thanks.

[2020-09-24 02:45] #207 closed

[2020-09-24 06:49] Diddaa opened #215 "Add leaderElectionNamespace args"
**Is your feature request related to a problem? Please describe.**
oam-kubernetes-runtime operator may running outside of cluster, the leaderElectionNamespace's default value is operator's running namespace which don't existed inside of cluster.

**Describe the solution you'd like**
add leaderElectionNamespace arg

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-09-24 15:12] wonderflow commented on #215
fixed by #216

[2020-09-24 15:12] #215 closed

[2020-09-24 15:15] wonderflow opened #217 "[Feature] history workload in status should be in a separated list not align with current workload"
Currently, it's confusing.

Status in red block should in a separated field like `historyWorkloads`.

![image](https://user-images.githubusercontent.com/2173670/94164503-b0657500-febb-11ea-94e5-9914e056e878.png)

[2020-09-24 19:59] negz opened #218 "[Feature] Run with fewer privileges"
**Is your feature request related to a problem? Please describe.**

https://github.com/crossplane/oam-kubernetes-runtime/blob/master/charts/oam-kubernetes-runtime/templates/oam-controller.yaml#L19

Currently the runtime runs as `cluster-admin` - i.e. it has unlimited access to the cluster. I presume this is because the AppConfig controller needs to create workloads and scopes, which could be of ar

[2020-09-25 03:30] wonderflow opened #219 "nominate @captainroy-hy（individual contributor） as the new oam-k8s-runtime maintainer"
During the last three months, @captainroy-hy as an individual contributor, contributes a lot to this project including bug fix, enhancement, feature. And now, he's one of the top contributors in this project.

He's also glad to invest more time into this project in the long term. So I'm glad to nominate him as the new oam-k8s-runtime project maintainer, let's build our project better and make it p

[2020-09-25 03:45] captainroy-hy commented on #219
I'm glad to accept it. It would be my great pleasure to be a maintainer and to contribute more to this great project!
@negz @hasheddan @hongchaodeng @ryanzhang-oss

[2020-09-25 04:45] negz commented on #176
This is a little confusing - do you mean multiple controller _managers_ (e.g. multiple pods, or multiple deployments?). I assume we do not to reduce the amount of controllers (e.g. reconcile loops) used to power OAM.

[2020-09-25 05:59] hongchaodeng commented on #219
dominate -> nominate

+1 from me.
Thanks for the contribution and look forward to future collaboration.

[2020-09-25 06:02] resouer commented on #176
@negz I mean multiple deployments. Though this issue is not valid any more. Close it.

[2020-09-25 06:02] #176 closed

[2020-09-25 14:17] pdettori opened #221 "Question on Service Type"
The `ContainerizedWorkload` generates a `Service` with type `NodePort`. It looks like this is currently hardcoded in the  `renderService` function. Are there plans to allow supporting other types of services ? E.g. what if I need only a service of type `ClusterIP` ?

[2020-09-25 18:05] resouer commented on #221
@pdettori Yes. For kubernetes implementation, we'll move to use another workload implementation, [please check it here](https://github.com/oam-dev/kubevela/blob/97f4d516fb2ace7dce6cbc2057ba18e26dd24c21/pkg/controller/v1alpha1/containerized/containerized_controller.go#L208). Service type is configurable during the OAM app platform init there. We will add the new workload schema as part of OAM spec

[2020-09-25 20:08] pdettori commented on #221
Thank you @resouer, this helps.

[2020-09-25 20:08] #221 closed

[2020-09-27 09:03] wonderflow opened #222 "[BUG] dependency won't work as expected in updating"
# Problem

[code]

# Background

OAM lacks of mechanism to indicate whether workload/trait CR is successfully observed by its controller.

So when an AppConfig CR is created, we can't confirm whether the update is resolved(by workload/trait controller) or not.

This is a little like K8s observedGeneration mechanism, and I used to raise [an issue to add observedGeneration for AppConfig and Componen

[2020-09-27 13:29] Diddaa commented on #222
Problem described greatly clear,  it just like CAS problem, we need Compare version before make any actions.

[2020-09-28 06:43] hongchaodeng commented on #222
I will fix the issue as soon as I can. Will pull up a PR in about two days.
The fix will be based on observed generation and will put a generation label into Workload/Trait CR.

For example, if an appConfig has:
[code]

Then its children CR will have:
[code]

Once the generation doesn't match the dependency engine will keep reconciling.

[2020-09-28 10:03] wonderflow commented on #222
I have sent a PR about this mechanism: #223

[code]

[2020-09-28 10:47] #217 closed

[2020-09-28 11:02] wonderflow commented on #55
closing as all related things has been done in this issue

[2020-09-28 11:02] #55 closed

[2020-09-28 11:08] wonderflow commented on #25
Could we close this issue as no one deny

[2020-09-28 11:10] wonderflow commented on #26
I'm closing this issue here since we're implementing them in [vela](https://github.com/oam-dev/kubevela)

[2020-09-28 11:10] #26 closed

[2020-09-28 11:16] wonderflow commented on #30
This issue should be related with [`patch trait`](https://github.com/crossplane/oam-kubernetes-runtime/pull/134) , any trait which will affect pod should trigger version(upgrade)

[2020-09-28 11:20] wonderflow commented on #108
What's the state of this issue now? Have we finished or not? @hongchaodeng

[2020-09-28 11:32] #91 closed

[2020-09-28 15:33] hongchaodeng commented on #108
Yes. It is been implemented in project: https://github.com/oam-dev/oam-crd-migration

[2020-09-28 15:33] #108 closed

[2020-09-28 16:46] ryanzhang-oss commented on #219
+1

[2020-09-29 06:43] wonderflow commented on #219
ping @negz @hasheddan

[2020-09-29 17:49] hasheddan opened #226 "[Feature] Add missing CI tagging and promotion pipelines"
**Is your feature request related to a problem? Please describe.**

Currently the `oam-kubernetes-runtime` releases are only being published to the `master` channel because they are being tagged manually and the promotion pipeline is not being run.

This means that consumers can only get the latest from https://charts.crossplane.io/master/ unless they specify a a specific version, which must be an

[2020-09-29 17:51] hasheddan commented on #219
+1 thanks for the great contributions you have already made @captainroy-hy!

[2020-09-30 09:12] xishengcai commented on #211
please assign me

[2020-09-30 09:30] xishengcai commented on #211
# 容器工作负载多态设计：
## 1.功能目标
1. oam ContainerizedWorkload child resource 支持 动态工作负载，原先只支持deployment，现在
是在第一次初始化的工作负载的时候，发现如果添加了 volume trait，则更改工作负载为statefulSet，否则默认是deployment。
多态只在第一次apply container workload 的时候，决定子负载类型，后面增删volumeTrait不会影响子负载类型。

## 2. 新增trait  CRD volumeTrait
1. 用户面信息
- 存储类名称
- 存储大小
- 容器内挂载路径

2. CRD
[code]

## 3. 实现逻辑
1. appconfig 新增动作
- 查询compoent 的trait，如果有volumeTrait，则给containerW

[2020-09-30 22:51] resouer commented on #211
@ryanzhang-oss Please help to review the implementation plan? It generally looks good to me.

@xishengcai Please contribute the code to https://github.com/oam-dev/catalog/tree/master/workloads , we will keep this repo clean and provide building block primitives of OAM only.

[2020-10-01 03:28] captainroy-hy commented on #211
`VolumeTrait` changes the type of a workload's child resources, which may result in an unpredictable impact or breaking changes on current trait&scope interacting with those child resources. If traits&scopes are going to deal with such changes, they need a general way to know the component/workload is stateless or stateful. Policy #33 may be a better mechanism to indicate a component/workload is s

[2020-10-01 17:48] ryanzhang-oss commented on #211
Agree With @captainroy-hy, using a trait to determine the behavior of a workload controller is the designed behavior. In addition, I don't know what to put in the childResources fields in the workloadDefinition CR in this case.

[2020-10-01 20:06] kminder opened #227 "[BUG] IngressTrait from catalog not working"
**Describe the bug**
Unable successfully

**To Reproduce**
1. Follow the oam-kubernetes-runtime install instructions https://github.com/crossplane/oam-kubernetes-runtime
2. Follow the oam-catalog ingresstrait instructions for https://github.com/oam-dev/catalog/tree/master/traits/ingresstrait.

**Expected behavior**
1. Expected an ingress to be created as per this step "You should see a ingress and

[2020-10-01 23:30] resouer commented on #211
@ryanzhang-oss according to this implementation plan, I believe we could reserve some value like `childResource: dynamic` or simply leave it empty. In either case, oam runtime will then check the label on workload CR to determine what the child resource is.

The concern I can see here is this design will couple with volume trait in oam runtime. The alternative IMO is let `ContainerizedWorkload` co

[2020-10-01 23:36] resouer commented on #13
@allenhaozi Hi, it seems community is really interested in this feature, so we create a new issue to track it: #211

Feel free to comment/input there! I will close this one for duplication.

[2020-10-01 23:50] ryanzhang-oss commented on #227
The examples are not updated after the OAM runtime uses a more flexible schema to associate a trait with the workload.

[2020-10-02 03:42] #227 closed

[2020-10-06 07:27] xishengcai commented on #211
@Lei Zhang (Harry)   component label ContainerizedWorkload， volumeTrait  create or delete pvc(can't update has created pvc).    code has been implemented：  https://github.com/xishengcai/oam-kubernetes-runtime/tree/caixisheng

[2020-10-07 03:15] #219 closed

[2020-10-07 03:42] #218 closed

[2020-10-08 02:52] wonderflow commented on #211
I agree, we could do this work in  podspecworkload in kubevela

[2020-10-08 04:27] xishengcai opened #231 "healthscope apply failed[BUG]"
**Describe the bug**
healthscope can't pave， will report error: no fields
[code]
if value, err := fieldpath.Pave(s.UnstructuredContent()).GetValue(workloadRefsPath); err == nil

**To Reproduce**
[code]
[code]

[2020-10-08 06:33] captainroy-hy commented on #231
Miss a required field when creating a HealthScope
[code]

[2020-10-08 08:44] wonderflow opened #233 "[Proposal] Add a 'podSpecPath' field in WorkloadDefinition"
We have discussed a lot and finally conclude to add labels like [`workload.oam.dev/podspecable`](https://github.com/oam-dev/spec/blob/master/4.workload_definitions.md#labels) to indicate the workload will contain 'podSpec' in it's spec.

But it's hard to know which field is podSpec, so I propose we add a 'podSpecPath' field in WorkloadDefinition.

By defualt, if `workload.oam.dev/podspecable: true

[2020-10-08 11:42] hasheddan commented on #226
This has been completed on Crossplane Jenkins.

[2020-10-08 11:42] #226 closed

[2020-10-08 13:46] mgianatagh opened #234 "[Question] Can an ApplicationConfiguration deploy Components to different namespaces?"
My use case is that I would like to create a single ApplicationConfiguration that would deploy Components into designated namespaces.  As opposed to creating an ApplicationConfiguration for each namespace.  Is this a use case that is or will be supported?

I tried to accomplish this using a parameter to set the metadata.namespace value for the component.

My test component file was as follows.  I

[2020-10-08 17:25] mgianatagh opened #235 "[BUG] The "config" attribute is not working for ContainerizedWorkload"
**Describe the bug**
The `config` attribute within a container for a ContainerizedWorkload is not working or implemented.

**To Reproduce**
1. Create and apply a Component definition for a ContainerizedWorkload that specifies a config.

For example:
[code]

2. Create and apply an ApplicationConfiguration using the component.

For example:
[code]

3. Use `kubectl` to exec into the`mysql` pod and do

[2020-10-08 18:37] resouer commented on #233
+1, I also noticed this issue for a while: `podspecable` doesn't mean `spec.template.spec` exists.

[2020-10-08 18:47] resouer commented on #234
Hi @mgianatagh , cross-namespace operation is complex and unpredictable in Kubernetes and I am afraid it will create heavy burden on the trait implementation side.

Not sure if you envision this as a feature for OAM runtime? Or you just hope to save time to copy-paste AppConfig in multiple namespaces? The latter scenario could be partially fixed by yaml tools like kustomize etc.

[2020-10-08 20:32] hongchaodeng commented on #235
The `config` section was defined very early on in the beginning of the project. Its use case doesn't seem very valid now.

I think we should get rid of it and use the podSpec to pass env or mount secret/configMap would be enough.

[2020-10-08 20:33] hongchaodeng commented on #233
+1.
Shouldn't it be podSpecFieldPath ?

[2020-10-08 20:44] ryanzhang-oss commented on #233
This reminds me of the `workloadRefPath` which caused some problems when it is not presented (https://github.com/crossplane/oam-kubernetes-runtime/pull/232). I know this will be an optional field, I wonder what's the exact behavior when it is not present?

[2020-10-08 23:56] resouer commented on #235
A little more background to echo Hongchao's comment:
- The `ContainerizedWorkload` schema was designed as the "serverless container" style workload, think about Azure ACI or AWS Fargate. It's designed to be self-contained so user doesn't need to handle auxiliary objects like `ConfigMap/Secret` etc. The drawback is it's kinda restricted and difficult to be used for other scenarios.
- The newly intr

[2020-10-09 02:08] resouer commented on #233
@ryanzhang-oss This field doesn't need to present if:
1. the workload is not podspecable,
2. the workload is podspecable but assume 'template.spec' as pod spec field path.

[2020-10-09 02:09] wonderflow commented on #233
@hongchaodeng  @resouer  `podSpecPath` is better as we already have `workloadRefPath`.

@ryanzhang-oss Yes, it's an optional field as I said in the proposal, it could have following behaviors:

### No label and No `podSpecPath` set

[code]

In this case, we will not do any podSpec specific thing.

### Has label with No  `podSpecPath` set

[code]

In this case, we will always regard `spec.template.

[2020-10-09 08:53] #233 closed

[2020-10-09 11:34] mgianatagh commented on #234
Thank you for your response.

I was envisioning this as a feature.  For the scenario I was using as a test case, the complete application needs to be deployed to three separate namespaces.  For me it would have been preferable to see the entire layout of the application in a single ApplicationConfiguration file.

[2020-10-09 11:44] mgianatagh commented on #235
Thank you, I will take a look at the `PodSpecWorkload`, I was not aware of that yet.

My initial setup of deploying `mysql` was to use three component files to create a ConfigMap, Deployment and Service.  That approach worked fine.  I was experimenting to see if I could consolidate into a single component file using the ContainerizedWorkload.

[2020-10-09 11:54] Ghostbaby commented on #76
@wonderflow pls assign to me

[2020-10-09 12:33] wonderflow commented on #76
@Ghostbaby Sure! This is a big feature, please make sure we have enough tests, thanks!

[2020-10-09 12:50] Ghostbaby commented on #76
@wonderflow copy

[2020-10-12 03:46] wonderflow opened #247 "[Feature] Add validation for Definition Object"
For traitDefinition, the value of applyTo could have many formats:

* format by  `group/version.Kind`  => core.oam.dev/v1alpha2.PodspecWorkload
* directly use `workloadDefinition Name` => webservice
* directly use `CRD name` => deployments.apps
* use `group name` to represent apply to the whole group => `core.oam.dev`

We need to add validation for it and future needs.

[2020-10-12 10:05] #213 closed

[2020-10-14 03:41] LeoLiuYan commented on #247
Now, when apply traits, the workloads does not add to traitDefinition's AppliesToWorkloads field like the scopes apply action. So, the applyTo field maybe not use in this moment.
The associated code maybe here:

[2020-10-14 03:42] LeoLiuYan commented on #247
Now, when apply traits, the workloads does not add to traitDefinition's AppliesToWorkloads field like the scopes apply do. So, the applyTo field maybe not use in this moment.

The associated code maybe here:
https://github.com/crossplane/oam-kubernetes-runtime/blob/master/pkg/controller/v1alpha2/applicationconfiguration/apply.go#L104
https://github.com/crossplane/oam-kubernetes-runtime/blob/master

[2020-10-14 04:51] wonderflow commented on #247
Yes, checking applyTo fields should also add to this validation. @LeoLiuYan

[2020-10-14 14:23] LeoLiuYan commented on #247
Could this feature assign to me? @wonderflow

[2020-10-14 14:54] wonderflow commented on #247
Sure, we have already setup validation webhook framework https://github.com/crossplane/oam-kubernetes-runtime/tree/master/pkg/webhook/v1alpha2

You could add it there. @LeoLiuYan

[2020-10-15 06:34] wonderflow opened #248 "[Feature] Give a mechanism to leave workload alive when it's component not used in AppConfig"
A Component could be some kinds of resource like Database or Storage system. Once an app not need this component, it may be deleted from AppConfig but the resource should keep alive for a period of time for security or other needs.

[2020-10-16 03:31] linjiemiao opened #251 "[Feature] Optimization of cleanupControllerRevision"
There is a problem with the cleanupControllerRevision call logic in createControllerRevision. Currently:
if int64(c.RevisionLimit) <nextRevision {
     1) Get the ControllerRevision list corresponding to the component
     2) Get the applicationConfiguration list
     3) Calculate the number of gc ControllerRevision required, revisionName mapping  and sort the revisions
     4) Delete redundant re

[2020-10-16 06:20] linjiemiao commented on #251
If the nextRevision of controllerrevision exceeds RevisionLimit, then the number of controllerrevisions currently in the system is : len(revisionNum) + len(liveHashes), this value must be greater than 50, so no additional judgment is required.

[2020-10-16 06:26] linjiemiao commented on #251
I found a bug, the sortedControllerRevision function has some problems when calculating liveHashes. toKeep = revisionLimit + len(this component use RevisionName). So we need to pass the name of the current component to sortedControllerRevision. When traversing AppConfig, we need to judge ExtractComponentName(component.RevisionName) == currentComponentName, and then we can set its liveHashes.

[2020-10-16 08:51] linjiemiao opened #253 "[Question] ApplicationConfiguration webhook checkComponentVersionEnabled"
If the RevisionName of my ApplicationConfigurationComponent is not empty, but the definition of my trait is not set to RevisionEnabled, does it mean that I have enabled multiple versions of the component? Can the code logic in checkComponentVersionEnabled be deleted?

[code]

[2020-10-16 11:58] captainroy-hy commented on #253
Any of the below possible conditions can result in VersioningEnabled:
1. RevisionName is assigned
2. Have any traits with RevisionEnabled=true

So the code you point out is used for condition one.

[2020-10-17 02:59] resouer commented on #211
@xishengcai It's great to see the PoC code is shipped! Let's we split the workload and trait code from runtime and move them to https://github.com/oam-dev/catalog? The plan is we will not maintain any workload/trait/scope code in runtime in the future.

[2020-10-19 02:18] linjiemiao commented on #253
Okay, I understand what you mean.

[2020-10-19 02:39] hongchaodeng opened #256 "Add race detector to go test flags"
We are trying to add `-race` to go test in OAM related projects.
We haven't figured out how to do it in the crossplane build scripts. Creating this issue to gather help.

[2020-10-19 02:40] hongchaodeng commented on #256
cc @jbw976 @hasheddan @negz

[2020-10-19 16:13] jbw976 commented on #256
Hi @hongchaodeng, there is a `GO_TEST_FLAGS` var defined in `golang.mk` that should help here.  https://github.com/upbound/build/blob/master/makelib/golang.mk#L35

It looks like it's passed to the invocation of `go test`.  So maybe around https://github.com/crossplane/oam-kubernetes-runtime/blob/master/Makefile#L44, you can add the following?

[code]

[2020-10-20 07:53] #253 closed

[2020-10-20 10:09] linjiemiao opened #258 "[Question] Where is the Trait conflict detected?"
One Component of ApplicationConfiguration can correspond to multiple traits, so where are the conflict detections of these traits done?

[2020-10-20 12:05] wonderflow commented on #258
related with https://github.com/crossplane/oam-kubernetes-runtime/issues/141

[2020-10-20 13:42] BBialeckiACR opened #259 "Request Entrypoint be an attribute supported in Core Workload Specs"
The request is to allow the concept of a workload having access to data somehow, whether this be opening a port for an API or network service, or an input or output directory.

Entrypoints describe how data is accepted and results are emitted.

An Example:
apiVersion: core.oam.dev/v2
kind: Component
metadata:
    name: dimseserver
spec:
    type: DicomServerWorkload
    settings:
        livenessP

[2020-10-20 18:36] resouer commented on #259
@BBialeckiACR The existing data input/output design in oam runtime seems closely related to your request, could you please take a look at this doc: https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/resource-dependency.md? It's already implemented in this repo.

Another request is could you please format a bit the yaml sample above? :-)

[2020-10-20 19:35] BBialeckiACR commented on #259
I had dropped it in formatted but forgot to mark it.  Anyway, I did look at the runtime but the issue I have there is specified in the App config I cannot have mutable and immutable items in a component and I cannot specify defaults and allow for parameterization.

[2020-10-20 19:56] BBialeckiACR commented on #259
Our workloads would be something like:

DicomContainerizedWorkload
- osType
- arch
- containers
- entrypoints

DicomServerWorkload
- livelinessProbe
- readinessProbe
- logAccess
- env
- entrypoints

DicomTaskWorkload
- exec # The path or uri to the executable, has a type [ ] command which is a command to be executed.  Each command will be
           # executed sequentially.  Commands exiting 0 are

[2020-10-20 20:09] BBialeckiACR commented on #248
I believe this is exactly why my concept of entrypoints needs to be implemented.  Then these can be specified in separate app configs and referred to as component entrypoints in another.
But we had also thought of this as something that could be specified in a custom trait.

[2020-10-21 02:08] #258 closed

[2020-10-21 02:09] wonderflow commented on #235
I used to implement it in rudr https://github.com/oam-dev/rudr/pull/149. I think we could use the similar way to do so.

@captainroy-hy Would you like to have a try?

[2020-10-21 02:14] captainroy-hy commented on #235
Sure, I will work on it.

[2020-10-21 13:29] wonderflow commented on #248
@BBialeckiACR  Yes， a custom trait is much better as we don't need to add any concepts to current OAM spec.

[2020-10-21 20:16] BBialeckiACR commented on #248
The issue with a custom trait is that there can be no default value define by a developer and this is left in the hands of the implementation

[2020-10-22 02:38] wonderflow commented on #82
After deep discuss with @hongchaodeng and @resouer , we have concluded that , we add a label on trait CR, to indicate whether it's using a traitdefinition or not. By default, we won't check traitdefinition.

[2020-10-22 06:56] Diddaa commented on #82
LGTM

[2020-10-22 19:15] resouer commented on #248
@BBialeckiACR I'm thinking maybe it's possible to define default values in TraitDefinition (as we already did in kubevela's implementation).

[2020-10-23 10:33] linjiemiao opened #264 "[BUG] 【containerized workload】 Updating the trait of application will result in all workload rebuilding"
1. We have the following application configuration：
[code]

2. Check the generated deployment information as follows:
[code]

Please pay attention to the spec.template.metadata.annotations information of deployment
[code]

3. Then we update the trait of ApplicationConfiguration

[code]

4. Then we found that all pods have been rebuilt, this does not meet our expectations。
[code]

5. Then we check

[2020-10-23 11:20] wonderflow commented on #264
Thanks for reporting, it seems we shouldn't pass annotation into podTemplate in ContainerizedWorkload.

Would you like to send a PR? Let's refactor [this line](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/pkg/controller/v1alpha2/core/workloads/containerizedworkload/translate.go#L262) that we should pass through label only.

[2020-10-25 02:09] #202 closed

[2020-10-25 02:42] wonderflow commented on #256
@jbw976  Hi, it seems the unit test don't support race flag https://github.com/upbound/build/blob/master/makelib/golang.mk#L174

[code]

How can we fix this ?

\cc @hasheddan @negz

[2020-10-25 03:07] negz commented on #256
I suggest opening a PR against upbound/build to make the covermode configurable. Count and atomic are similar, but count is faster when the race detector is not desired.

[2020-10-26 01:56] linjiemiao commented on #264
ok, i will send a PR

[2020-10-26 04:22] #82 closed

[2020-10-26 05:51] #210 closed

[2020-10-26 12:31] linjiemiao opened #270 "[BUG]Two examples of oam: flight-tracker and dependency do not authorize oam's permissions to crd, so the example will not run."
When I deploy flight-tracker, oam does not have permission to ingress, so it will report an error:
[code]
So we need to add a ClusterRole with label `rbac.oam.dev/aggregate-to-controller: "true"` to the example。
A similar problem exists in the dependency example

[2020-10-27 02:04] wonderflow commented on #256
@negz  I'm not very familiar with makefile shell, could you help add that PR on upbound/build, thanks!

[2020-10-27 02:31] wonderflow commented on #270
Thanks for your report, this bug was exactly what you descirbed, would you like to send a PR? @linjiemiao

[2020-10-27 02:32] #264 closed

[2020-10-27 02:41] wonderflow commented on #67
K8s uses [ownerReference mechanism](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/) do GC for this case, as we have set ownerReference for all child resources（component/traits/deployment/service..） created by appconfig, so even the controller exit, if we delete appconfig cr, these child resource will also be deleted(garbage collection).

Closing as it was not an issu

[2020-10-27 02:41] #67 closed

[2020-10-27 02:42] wonderflow commented on #114
Now we have migrated from jenkins CI to Github action, I think this problem not exist any more.

[2020-10-27 02:42] #114 closed

[2020-10-27 02:46] wonderflow commented on #57
Closing as we have already decouple Definition Name with  CRD, so we could just use definition name as the "short" name.

[2020-10-27 02:46] #57 closed

[2020-10-27 03:11] linjiemiao commented on #270
ok, i will send a pr

[2020-10-27 03:13] #251 closed

[2020-10-27 08:09] #270 closed

[2020-10-28 04:47] hongchaodeng opened #272 "Trait apply should use update instead of patch"
## Problem Statement

Currently, when oam-runtime applies traits, it does MergePatch (code [link1](https://github.com/crossplane/crossplane-runtime/blob/378a57303ea0a2d13ae21668044364ad8d1035d9/pkg/resource/api.go#L149) and [link2](https://github.com/kubernetes-sigs/controller-runtime/blob/74fd294a89c65c8efc17ab92e0d2014d36e357a8/pkg/client/patch.go#L100)). Basically, it compares the trait to appl

[2020-10-30 02:15] wonderflow opened #273 "[Feature] Support Namespaced Scope for Defintion"
Currently, oam runtime read Workload/Trait Definition without specifiy namespace, this need an assumption that all definition CRD are cluster scope level. But some cases need namespace level.

So we should support reading Definition namespace from environment.

Define `DEFININTION_NAMESPACE` env var, and read it if cluster level definition file not found.

[2020-10-31 05:25] #273 closed

[2020-10-31 05:45] captainroy-hy commented on #272
Maybe I can help, could you plz assign this issue to me?

[2020-10-31 05:45] wonderflow commented on #272
@captainroy-hy  sure, thanks!

[2020-10-31 09:51] ryanzhang-oss commented on #272
I wonder why patch can't do "remove"?

[2020-11-01 01:02] wonderflow commented on #272
@ryanzhang-oss 'patch' will not remove un-related fields

[2020-11-03 07:23] wonderflow opened #277 "[Feature] support don't reconcile if AppConfig or Component not updated"
**Is your feature request related to a problem? Please describe.**

Currently, OAM runtime will reconcile periodically, this mechanism can help CR always working as expected ( unexpected changes will be reconciled back periodically)

But it will introduce some risks especially when the oam-runtime Controller was just upgraded.

**Describe the solution you'd like**

I hope we can add a switch on oa

[2020-11-03 12:24] captainroy-hy commented on #277
I would like to work on this issue.

[2020-11-03 14:44] sak0 commented on #272
use  APIUpdatingApplicator instead of APIPatchingApplicator
https://github.com/crossplane/crossplane-runtime/blob/v0.10.0/pkg/resource/api.go#L178-L208

crossplane-runtime 0.9.0 -> 0.10.0

[2020-11-03 19:31] resouer commented on #259
@BBialeckiACR Per today's discussion, this is a valid use case and we should think how to support it. Would you mind to list the change needed in OAM spec in your evision? This could help a lot.

[2020-11-04 08:27] linuxjumper opened #280 "observedGeneration in Component and ControllerRevision should be equal [BUG]"
**Describe the bug**

observedGeneration in Component Status field is 10, but in relative ControllerRevision, observedGeneration is 9

![image](https://user-images.githubusercontent.com/3854872/98085190-ef71e780-1eb7-11eb-9470-a839e3fdc12d.png)

![image](https://user-images.githubusercontent.com/3854872/98085611-8b035800-1eb8-11eb-8193-2dddbb8b387d.png)

**Expected behavior**

observedGeneration b

[2020-11-04 09:36] #280 closed

[2020-11-04 17:43] BBialeckiACR commented on #259
Here is a general idea of the thought.  The entrypoint is defined as part of the workload type and has properties and security.  Security for the entrypoint has properties as well.
[OAM request for Entrypoint.docx](https://github.com/crossplane/oam-kubernetes-runtime/files/5489582/OAM.request.for.Entrypoint.docx)

[2020-11-05 12:01] wonderflow opened #282 "Should not update workload if only revisionEnabled trait was added first time"
## Reproduce:

Use the example in `examples/component-versioning/`, firstly do not use trait:

[code]

[code]

Then update the appconfig only add a trait:

[code]

The new workload created and the old was reaped.

[code]

## What was expected?

1.  if only rollout trait was attached without any component change, the workload should not update at all.
2. when new component come, the workload should

[2020-11-06 08:01] wonderflow opened #284 "[Feature] make development log setting as an argument"
![image](https://user-images.githubusercontent.com/2173670/98340167-e748b200-2047-11eb-9bd9-d0f653b7a0aa.png)

Currently the development flag is always true, so we will get lot's of debug log by default.

I think we should make the default development flag to be false, and add a command in Makefile such as `make debug-run` to switch the flag on.

[2020-11-06 08:38] #235 closed

[2020-11-06 08:50] captainroy-hy commented on #272
thx for your kindly suggestion!

[2020-11-06 09:10] wonderflow commented on #256
I have tried to send a PR https://github.com/upbound/build/pull/125 , please help review thanks @negz

[2020-11-08 03:13] allenhaozi opened #285 "[Feature] ContainerConfigFile support subPath"
When we use ConfigFile internally, we need a scenario for subPath, which requires a field to explicitly express the semantics of subPath

Like the following code

[code]

[2020-11-09 02:41] BH4AWS commented on #284
ctrl.SetLogger方法内，建议o.Development默认采用False，并引入一个flag标识，通过变量参数形式传入确认。

pr正在准备中，待提交review。

[2020-11-09 02:53] wonderflow opened #286 "[Feature] Add Helm chart for K8s version < 1.16"

[2020-11-09 09:28] wonderflow opened #288 "[Feature] scope should include all workload instance with versioning mechanism"
Currently, oam scope only have one target workload for one component. But with versioning mechanism, one component could have multiple workload instances, we should support this case.

[2020-11-09 09:31] wonderflow opened #289 "[BUG] trait CR label will be override when more than two traits exist"
@captainroy-hy  is fixing this

[2020-11-09 10:06] wonderflow commented on #282
Whether oam-runtime create new or not should according to current workload revision, instead of by Name. So we should check whether there's existing workload alive according to current workload.

[2020-11-09 11:55] #289 closed

[2020-11-09 18:50] zzxwill commented on #286
Now lots of apps are still running on K8s clusters version v1.14, v1.15, while oam-k8s-runtime requires the minimum
K8s version to be v1.16.

Currently, the main block is OAM runtime use CRD v1, while these old K8s versions don't support CRD v1.
So we generate v1beta1 CRD here for convenience. But we have no guarantee that oam-runtime will support the
legacy k8s versions.

`IMAGE-TAG` marks the im

[2020-11-10 07:34] captainroy-hy commented on #288
I think I can help on this issue.

[2020-11-10 08:06] #286 closed

[2020-11-10 11:37] captainroy-hy commented on #285
Currently, ContainerConfigFile only supports ConfigMap and Secret volume source. Without the support of other volumes, such as PersistenVolume, `SubPath` may don't make sense at this moment.
Q: May I consider your requirement as PersistentVolume instead of just only `SubPath`?

BTW, as for ConfigMap, showing in this [example](https://github.com/crossplane/oam-kubernetes-runtime/blob/09203f4b9a4f8d

[2020-11-11 03:07] #256 closed

[2020-11-11 08:22] wonderflow opened #294 "[Feature] using trait type instead of hardcode word 'trait' to create trait CR"
![image](https://user-images.githubusercontent.com/2173670/98787273-42104e00-243a-11eb-96d6-85c40700602e.png)

[code]

## Expect behavior

[code]

[2020-11-12 08:26] #288 closed

[2020-11-13 08:40] wonderflow commented on #68
I think we could close this issue, thanks to @captainroy-hy

[2020-11-13 08:40] #68 closed

[2020-11-13 08:42] wonderflow commented on #72
Closing, I think we should create more concrete issue about which module we want to impove coverage

[2020-11-13 08:42] #72 closed

[2020-11-16 02:29] zzxwill commented on #294
Please help assign it to me.

[2020-11-16 06:52] wonderflow commented on #294
@zzxwill  please make sure this is a compatible upgrade, which means, if user has already created a trait with the old naming rule and the spec didn't change , use the old name. Only the newly created trait will have the new name.

[2020-11-16 07:08] captainroy-hy commented on #14
I would like to helo on this issue as well as #50.

[2020-11-16 07:09] captainroy-hy commented on #50
I will deal with this issue with #14 together.

[2020-11-16 07:10] wonderflow commented on #43
dup with #234

[2020-11-16 07:11] wonderflow commented on #141
@zzxwill is working on it

[2020-11-16 07:12] wonderflow commented on #156
we will not write test here

[2020-11-16 07:12] #156 closed

[2020-11-16 13:28] wonderflow commented on #30
I think we need strict mechanism to limit all patch trait can only affect workload by oam-runtime patch trait mechanism.

[2020-11-17 08:36] zzxwill opened #303 "[BUG] not convenient to debug e2e-test locally"
During local development stage, as I just want to debug one test case, like `test/e2e-test/component_version_test.go`, I will force close the whole test process `suit_test.go`. Then I have to do the following steps to start a fresh round, which take a lot of time for a single test.

##  `suite_test.go` again.
[code]

## run one more time to clear resources
[code]

## install crds
[code]

## tigger

[2020-11-18 15:38] allenhaozi commented on #285
This is a deployment of a production environment,
I need to upgrade it to OAM Component
[code]

[2020-11-21 03:04] #303 closed

[2020-11-21 03:15] #294 closed

[2020-11-23 01:36] captainroy-hy commented on #285
I think [PodSpecWorkload](https://github.com/oam-dev/kubevela/blob/aa9c96d0b5ac6f332e3cb94948fc2082d425df77/documentation/samples/metrics-demo/metrics-component.yaml#L8) can help, as it adopts full Kubernetes pod spec

[2020-11-23 08:48] #277 closed

[2020-11-23 10:31] #282 closed

[2020-11-24 05:41] allenhaozi commented on #285
thank u,  I look at the design of a PodSpecWorkload

[2020-11-24 05:41] #285 closed

[2020-11-24 16:20] zzxwill opened #311 "[Feature] Make local development more enjoyable"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I have to deploy my code modification to **a real Kubernetes cluster** for further verification. Here is what I used to do.

- Write code

- Generate manifests (if necessary)
[code]

- Apply code change
1) Build the image
[code]

2) Push the image
Push the image to a repository where you have been grante

[2020-11-24 16:31] resouer commented on #311
No further plan for this. Close.

[2020-11-24 22:09] BBialeckiACR opened #312 "In ScopeRef it seems like Kind and Name cause for too much configuration, name should be replaced with properties"
Kind in Scope Ref refers to a schema and Name a definition of properties under that schema.  Why not just put the properties here like they were in previous versions, what was the rationale for the change.
Kind then refers to the schema and the properties are defined by that schema and the values entered here.
You then get:

scopes:

     scopeRef:

            apiVersion: standard.oam.dev/v1alpha

[2020-11-24 22:16] resouer commented on #312
A network scope instance should be able to be referenced by multiple components. Btw, this issue is more suitable to spec repo.

[2020-11-25 02:19] wonderflow commented on #311
I agree with @resouer , you could try make `vela-core` more enjoyable for local development

[2020-11-25 02:20] #311 closed

[2020-11-25 09:12] #14 closed

[2020-11-25 09:12] #50 closed

[2020-11-25 13:07] BBialeckiACR commented on #312
This was just to show an example.  I understand that the scope is referenced by multiple components, and if part of the same application config then scope as listed here works.  This is basically how this was prior to the latest version.

[2020-12-01 19:32] resouer commented on #259
@BBialeckiACR As we discussed on the community meeting, the next step is to formalize the idea into a design proposal to change the spec. One example is: https://github.com/oam-dev/spec/pull/304

As long as the proposal is merged, the spec change is good to go. That being said, it's also fine for you to introduce a custom workload type as well.

[2020-12-21 07:48] wonderflow commented on #157
This issue is actually the same with K8s  strategicMergepatch in library at "k8s.io/apimachinery/pkg/util/strategicpatch"

[2021-01-11 18:39] rynowak commented on #259
I would love to see this be generalized/combined with some of the ideas we have around input/outputs/dependencies that are part of the runtime but not part of the spec.

In general it's really valuable if we could express connection points between components in a way that's typed - in your example that would be something like a directory but it could also be a protocol like HTTP or gRPC.

[2021-01-11 18:43] BBialeckiACR commented on #259
I have resubmitted this as Spec #422.
I think I need to possible demo how medical imaging transfers data because maybe that will help with the understanding.

Brian J Bialecki
American College of Radiology

From: Ryan Nowak <notifications@github.com>
Sent: Monday, January 11, 2021 1:40 PM
To: crossplane/oam-kubernetes-runtime <oam-kubernetes-runtime@noreply.github.com>
Cc: Bialecki, Brian <bbialec

[2021-01-12 03:46] hongchaodeng commented on #272
ref https://github.com/oam-dev/kubevela/issues/876

[2021-01-12 03:54] ryanzhang-oss commented on #272
just to be clear, the real problem is not just to remove the fields that are not present in the new CR but also preserve the fields that are not controlled by the trait.

If this is the real goal then I don't think anyone can solve this unless the trait declares what fields it owns.

[2021-01-12 04:28] hongchaodeng commented on #272
@ryanzhang-oss Right.

Let me add another example:
[code]

[2021-01-12 05:04] hongchaodeng commented on #272
Per our discussion, this is a well known two-way merge problem: https://medium.com/flant-com/3-way-merge-patches-helm-werf-beb7eccecdfe

The correct way to solve this problem is via three-way merge, which is what kubectl apply does. Basically, we need to emulate kubectl apply in the Apply() function -- even though it is called Apply(), it is not yet.

Nowadays k8s supports server side apply which

[2021-01-12 06:16] captainroy-hy commented on #272
Server-side apply can solve this problem after k8s  v1.19. Before 1.19, it doesn't remove field in such a case shown [here](https://github.com/oam-dev/kubevela/blob/eb9a76c2d1547a0f9668bac5f2582839d8be83a2/pkg/utils/applicator/apply_resource_test.go#L97)

[2021-01-12 07:59] wonderflow commented on #272
I'll move this issue to KubeVela, let's discuss it there.

[2021-01-12 18:19] hongchaodeng commented on #272
I don't get what the comment said. Could you elaborate more detailedly? And provide an example?

[2021-01-13 01:45] allenhaozi commented on #272
about this case:

because this resource already exists, so if user want `remove rules`
user should send the following request,
[code]
if from patch to update
[code]
this is the semantic of update

update or patch depends on the business logic of traits.

Is there no uniform standard ?

[2021-01-13 02:01] captainroy-hy commented on #272
SS apply this deployment
[code]
SS apply below with the same field manager
[code]
In api-server v1.19, we will get
[code]
But in api-server v1.16-v1.18, we will get
[code]
Related to this [fix](https://github.com/kubernetes/kubernetes/pull/92661) merged into k8s v1.19

[2021-01-13 02:40] hongchaodeng commented on #272
@allenhaozi This is what three-way merge patch handles. This is how kubectl apply is implemented. We are going to align with upstream to fix the problem correctly.

[2021-01-13 02:42] hongchaodeng commented on #272
@captainroy-hy
I see. If this is well known upstream issue, we don't need to care. All we need to do is to implement kubectl apply on client side. On server side, it is the users who choose what versions (and thus what behaviors) they want.

[2021-01-13 03:08] ryanzhang-oss commented on #272
I don't think any patch method can solve this problem without what @allenhaozi  described.  The fact that the trait owns "auto" and "rules" but not "others" field has to be explicitly stated somewhere. This is not k8s related.

[2021-01-13 08:37] hongchaodeng commented on #272
@ryanzhang-oss

That's wrong assumption. I believe this is what kubectl apply address.

[2021-01-18 04:00] captainroy-hy commented on #272
working on this [PR](https://github.com/oam-dev/kubevela/pull/857), refactor `apply` mechanism to compute a three-way diff in client side, just like how `kubectl apply` does under the hood, the last-applied-state is stored in annotation.

[2021-01-20 03:00] hongchaodeng commented on #272
Some related issue w.r.t. client side implementation of kubectl apply:

- https://github.com/kubernetes/kubernetes/issues/15894
- https://github.com/kubernetes/kubernetes/issues/17333
- https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/555-server-side-apply/README.md#motivation

Note that this is an issue with kubectl since it is controlled by users directly. We can avo

[2021-01-21 06:23] allenhaozi commented on #272
I met a problem that when restart `oam-addon-sage` causes Pods to restart
Pods belongs to the deployment which is controlled by `ServerWorkload`

`oam-addon-sage` contains `ServerWorkload,TaskWorkload,ManualScaler,...`

[https://github.com/kubernetes-sigs/controller-runtime/issues/1311](https://github.com/kubernetes-sigs/controller-runtime/issues/1311)

[2021-01-21 19:14] hongchaodeng commented on #272
Pods belongs to the deployment which is controlled by ServerWorkload

@allenhaozi Could you clarify the problem in more details? And why it is related here or maybe create another issue?

[2021-01-22 00:17] allenhaozi commented on #272
In simple word
two controllers that control one resource
based on the implementation mechanism It's difficult to patch the resource
[code]

when restart the controllers will leads to the resource's pod restart

For example:
`ServerWorkload` create  a deployment and set replicas to 0
`ManualScalerTrait` patch the replicas of this deployment from 0 to 3

when restart the controllers

if the deployme

[2021-01-22 01:24] captainroy-hy commented on #272
@allenhaozi A possible workaround: maybe the ServerWorkload controller should show no opinion on `.spec.replicas` when create/reconcile a Deployment, leaving `.spec.replicas` to ManualScalerTrait, just like [how ContainerizedWorkload controller does](https://github.com/crossplane/oam-kubernetes-runtime/blob/4d8be8c1c63b21167fe58a1d63a8cc70ff7baf1e/pkg/controller/v1alpha2/core/workloads/containeriz

[2021-01-22 21:37] hongchaodeng commented on #272
Fixed in https://github.com/oam-dev/kubevela/pull/857
Any plan to port it to this repo too?

[2021-03-09 22:58] resouer opened #321 "[Feature] Upgrade to reflect with latest OAM spec"
**Is your feature request related to a problem? Please describe.**

Since the [latest release](https://github.com/oam-dev/spec/issues/443) of OAM spec is close, we will upgrade the lib to fully align with the upstream.

**Describe the solution you'd like**

One possible solution is we fully merge back the latest runtime level code of KubeVela to this repo and of course they already keeps full back

[2021-03-11 09:23] xishengcai opened #322 "[BUG]"
**Describe the bug**
once component set command, can't remove.

**To Reproduce**
1. component set cmd , example
[code]

2. apply  component and application
3. remove command
4. check deployment

**Expected behavior**
![image](https://user-images.githubusercontent.com/21197150/110764701-54868100-828e-11eb-8030-a0251803fee6.png)

**Cluster information**
- Kubernetes Version 1.17

[2021-03-11 09:35] captainroy-hy commented on #322
you can have a try with `kubectl apply`. I think it would get the same result as what you get with oam-k8s.
Because `command` is a string array field and it has no specific patch strategy, so it will always use "replace strategy".

[2021-03-18 17:39] kushthedude commented on #284
Hi @wonderflow, I am working on this issue!

[2021-03-19 06:03] #284 closed

[2021-03-19 20:14] Ananya-1106 commented on #71
Hello! I am new to this but highly interested to learn and explore. With what should i start in this project, a little guidance would help me a lot

[2021-03-19 20:21] Ananya-1106 commented on #272
Hello!
how can I help?? I am new here but very curious to learn and explore this, can anyone guide me with what i should start ?

[2021-03-19 22:26] wonderflow commented on #272
Hi, @Ananya-1106  Welcome! This repo is a more like libariry of OAM implementation, we suggest you to get start from [KubeVela](https://github.com/oam-dev/kubevela) and the `oam-kubernetes-runtime` lib was contained there.

[2021-04-07 03:50] BenS-Move commented on #321
Hello, where can I know more about this project?

[2021-04-07 04:04] resouer commented on #321
@BenS-Move Please check the existing examples: https://github.com/crossplane/oam-kubernetes-runtime/tree/master/examples. Note that we now decide to keep this repo as is and focus on implement all features in KubeVela side, please check the issue description about task list.

[2021-04-09 15:07] arjav-desai opened #325 "Support complex/object data type for parameterValues in ApplicationConfiguration"
**Is your feature request related to a problem? Please describe.**
ConfigMap allows for data to be specified as complex type e.g.

[code]

When we try to overwrite this parameter in appconf e.g.

[code]

This fails with

[code]

**Describe the solution you'd like**
Had raised this on gitter and was informed that current schema for app conf supports only int and string i.e. https://github.com/cross

[2021-04-10 00:37] wonderflow commented on #325
Would you like to try KubeVela( https://kubevela.io/ ), it's the implementation of OAM v0.3 . And its Application(https://kubevela.io/docs/application) Object can support almost every complex types by [CUE](https://kubevela.io/docs/cue/component)/[Helm](https://kubevela.io/docs/cue/component) schematic, while also support the old way here as [Raw Template](https://kubevela.io/docs/kube/component)

[2021-04-10 01:21] resouer commented on #325
We normally consider ConfigMap/Secret (i.e. the carrier of external data) not part of the application definition (i.e. model with components). Though if that's the preference, using CUE or Helm to package them in component definition is the recommended approach, per se comment above.

We do not have plan to extend raw resource template beyond simple key-value pair as this will essentially reinvent

[2021-04-20 07:21] xishengcai opened #327 "[BUG] delete component and modify appConfig's components to null array lead to panic"
**Describe the bug**

**To Reproduce**
1. deploy oam latest version
2. kubectl apply -f examples/containerized-workload/
3. kubectl delete component example-component
4. modify applicationconfiguration:   example-appconfig. spec.components: []

**Expected behavior**
expect deployment deleted

**Screenshots**
![image](https://user-images.githubusercontent.com/21197150/115354365-216bd180-a1ec-11eb-8

[2021-04-20 09:25] #327 closed